/* Variants */

.fieldset {
  position: relative;
  width: 100%;
  min-height: 28px;
  padding: initial;
  border: none;
}

.fieldset.medium {
  min-height: 30px;
}

.fieldset.large {
  min-height: 32px;
}

.fieldset.extra-large {
  min-height: 34px;
}

.fieldset.contained::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(249, 249, 249);
  z-index: -1;
}

.fieldset.contained::before:valid {
  background-color: var(--color-success-400);
}

.fieldset.contained {
  padding: 16px 0 0;
}

.input.basic:not(:placeholder-shown):valid,
.textarea.basic:not(:placeholder-shown):valid,
.input.outlined:not(:placeholder-shown):valid,
.textarea.outlined:not(:placeholder-shown):valid {
  border-color: var(--color-success-400);
  /* outline: 1px solid var(--color-success-400); */
}

.input.contained:not(:placeholder-shown):valid,
.textarea.contained:not(:placeholder-shown):valid,
.input.underline:not(:placeholder-shown):valid,
.textarea.underline:not(:placeholder-shown):valid {
  outline: none;
  border-color: var(--color-success-400);
  box-shadow: inset 0 -1px 0 0 var(--color-success-400);
}

.input.basic:not(:placeholder-shown):invalid,
.textarea.basic:not(:placeholder-shown):invalid,
.input.outlined:not(:placeholder-shown):invalid,
.textarea.outlined:not(:placeholder-shown):invalid {
  border-color: var(--color-negative-500);
  /* outline: 1px solid var(--color-negative-500); */
}

.input.contained:not(:placeholder-shown):invalid,
.textarea.contained:not(:placeholder-shown):invalid,
.input.underline:not(:placeholder-shown):invalid,
.textarea.underline:not(:placeholder-shown):invalid {
  outline: none;
  border-color: var(--color-negative-500);
  box-shadow: inset 0 -1px 0 0 var(--color-negative-500);
}

/* .input:focus:invalid,
.textarea:focus:invalid {
  border-color: orange;
  outline: 1px solid orange;
} */

.input,
.textarea {
  width: 100%;
  min-height: inherit;
  padding: 0 6px;
  border: 1px solid #777777;
  color: var(--color-text-primary);
  font-size: 14px;
  transition: 200ms linear;
}

/* Font size when change size input */

.fieldset.medium > .input {
  font-size: 15px;
}

.fieldset.large > .input,
.fieldset.extra-large > .input {
  font-size: 16px;
}

.input.outlined,
.textarea.outlined {
  background-color: transparent;
}

.input.underline,
.input.contained,
.textarea.underline,
.textarea.contained {
  padding: initial;
  background-color: transparent;
  border: 1px solid #777777;
  border-top: none;
  border-right: none;
  border-left: none;
}

.input.contained {
  padding: 0 6px;
}

.legend {
  position: absolute;
  top: 4px;
  left: 5px;
  z-index: -1;
  transition: 200ms linear;
  font-size: 14px;
}

.legend.medium {
  top: 6px;
}

.legend.large {
  top: 7px;
}

.legend.extra-large {
  top: 8px;
}

.legend.underline {
  left: -2px;
}

.legend.contained {
  top: 0px;
  left: 4px;
}

.legend.outlined.startIcon {
  left: 24px;
  padding: 0 2px;
}

.legend.underline.startIcon {
  left: 16px;
  padding: 0 2px;
}

.input:focus.basic,
.textarea:focus.basic {
  outline: 1px solid var(--color-primary-700);
  border-color: var(--color-primary-700);
}

.input:focus.outlined,
.textarea:focus.outlined {
  outline: 1px solid var(--color-primary-700);
  border-color: var(--color-primary-700);
}

.input:focus.underline,
.input:focus.contained,
.textarea:focus.underline,
.textarea:focus.contained {
  outline: none;
  border-color: var(--color-primary-700);
  box-shadow: inset 0 -1px 0 0 var(--color-primary-700);
}

.input:not(:placeholder-shown) + legend,
.input:focus + legend,
.textarea:not(:placeholder-shown) + legend,
.textarea:focus + legend {
  top: -9px;
  z-index: 1;
  background-color: white;
  color: var(--color-primary-700);
  font-size: 12px;
}

.input.contained:not(:placeholder-shown) + legend,
.input.contained:focus + legend,
.textarea.contained:not(:placeholder-shown) + legend,
.textarea.contained:focus + legend {
  top: 3px;
  background-color: transparent;
}

/* TO start icon move */

.input.outlined.startIcon:not(:placeholder-shown) + legend,
.input.outlined.startIcon:focus + legend {
  left: 5px;
}

.input.underline.startIcon:not(:placeholder-shown) + legend,
.input.underline.startIcon:focus + legend {
  left: -2px;
}

.textarea {
  padding: 6px;
  resize: none;
}

.textarea.contained {
  padding: 6px;
}

.textarea.underline {
  padding: 6px 0;
}

.textarea.legend.contained {
  top: 6px;
  left: 4px;
}

.input.startIcon {
  padding-left: 1.7rem;
}

.input.endIcon {
  padding-right: 1.7rem;
}

.input.underline.startIcon {
  padding-left: 1.1rem;
}

.input.underline.endIcon {
  padding-right: 1.2rem;
}

/* media min-width 575px */

/* Dodaj media queris dla desktop > 575px to co już sa style beda dla mobile
Może jeszcze lekkie korekty odległości dla mobile */
