.fieldset {
  position: relative;
  width: 100%;
  min-height: 28px;
  padding: initial;
  border: none;
}

.fieldset.medium {
  min-height: 30px;
}

.fieldset.large {
  min-height: 32px;
}

.fieldset.extra-large {
  min-height: 34px;
}

.fieldset.contained::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(249, 249, 249);
  z-index: -1;
}

.fieldset.contained::before:valid {
  background-color: var(--color-success-400);
}

.fieldset.contained {
  padding: 16px 0 0;
}

.input,
.textarea {
  display: grid;
  width: 100%;
  min-height: inherit;
  padding: 0 6px;
  color: var(--color-text-primary);
  font-size: 14px;
  border: 1px solid var(--color-black-700);
  transition: 200ms linear;
}

.input.noBorder,
.textarea.noBorder {
  border: none;
}

.fieldset.medium > .input,
.fieldset.medium > .textarea,
.fieldset.large > .input,
.fieldset.large > .textarea,
.fieldset.extra-large > .input,
.fieldset.extra-large > .textarea {
  font-size: 15px;
}

.input.outlined,
.textarea.outlined {
  background-color: transparent;
}

.input.underline,
.input.contained,
.textarea.underline,
.textarea.contained {
  padding: initial;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
}

.input.contained {
  padding: 0 6px;
}

.legend {
  position: absolute;
  top: 6px;
  left: 4px;
  z-index: -1;
  transition: 200ms linear;
  font-size: 14px;
}

.legend.startIcon {
  left: -2px;
}

.legend.contained.startIcon {
  left: -26px;
}

.legend.medium {
  top: 7px;
}

.legend.large {
  top: 8px;
}

.legend.extra-large {
  top: 9px;
}

.legend.underline {
  left: -2px;
}

.legend.contained {
  top: 2px;
}

.input:not(:placeholder-shown) + legend,
.input:focus + legend,
.textarea:not(:placeholder-shown) + legend,
.textarea:focus + legend {
  top: -9px;
  z-index: 1;
  background-color: white;
  color: var(--color-primary-700);
  font-size: 12px;
}
.input.large:not(:placeholder-shown) + legend,
.input.large:focus + legend,
.textarea.large:not(:placeholder-shown) + legend,
.textarea.large:focus + legend,
.input.extra-large:not(:placeholder-shown) + legend,
.input.extra-large:focus + legend,
.textarea.extra-large:not(:placeholder-shown) + legend,
.textarea.extra-large:focus + legend {
  font-size: 14px;
}

.input.underline:not(:placeholder-shown) + legend,
.input.underline:focus + legend,
.textarea.underline:not(:placeholder-shown) + legend,
.textarea.underline:focus + legend {
  top: -12px;
}

.input.contained:not(:placeholder-shown) + legend,
.input.contained:focus + legend,
.textarea.contained:not(:placeholder-shown) + legend,
.textarea.contained:focus + legend {
  top: 3px;
  background-color: transparent;
}

.input.contained.startIcon:not(:placeholder-shown) + legend,
.input.contained.startIcon:focus + legend,
.textarea.contained.startIcon:not(:placeholder-shown) + legend,
.textarea.contained.startIcon:focus + legend {
  background-color: transparent;
}

.input.outlined.startIcon:not(:placeholder-shown) + legend,
.input.outlined.startIcon:focus + legend {
  left: -26px;
}

.input.underline.startIcon:not(:placeholder-shown) + legend,
.input.underline.startIcon:focus + legend {
  left: -33px;
}

.textarea {
  padding: 6px;
  resize: none;
}

.textarea.contained {
  padding: 6px;
}

.textarea.underline {
  padding: 6px 0;
}

.textarea.legend.contained {
  top: 6px;
  left: 4px;
}

.input:focus,
.textarea:focus {
  border-color: var(--color-primary-700);
  outline: 1px solid var(--color-primary-700);
}

.input.contained:focus,
.input.underline:focus,
.textarea.contained:focus,
.textarea.underline:focus {
  outline: none;
  box-shadow: inset 0 -1px 0 0 var(--color-primary-700);
}

/* Clear border with icon input wrapper */

.input.noBorder:focus,
.textarea.noBorder:focus {
  outline: none;
}

.input.startIcon {
  padding-left: initial;
  border-left: none;
}

.input.endIcon {
  padding-right: initial;
  border-right: none;
}

/* media min-width 575px */

/* Dodaj media queris dla desktop > 575px to co już sa style beda dla mobile
Może jeszcze lekkie korekty odległości dla mobile */

/* ----------------- Nowe style ------------------- */
