/* Variants */

.fieldset {
  position: relative;
  width: 100%;
  min-height: 28px;
  padding: initial;
  border: none;
}

.fieldset.contained::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(249, 249, 249);
  z-index: -1;
}

.fieldset.contained {
  padding: 16px 0 0;
}

.input,
.textarea {
  width: 100%;
  min-height: inherit;
  padding: 0 6px;
  border: 1px solid #777777;
  color: var(--color-text-primary);
  font-size: 14px;
  transition: 200ms linear;
}

.input.outlined,
.textarea.outlined {
  background-color: transparent;
}

.input.underline,
.input.contained,
.textarea.underline,
.textarea.contained {
  padding: initial;
  background-color: transparent;
  border: 1px solid #777777;
  border-top: none;
  border-right: none;
  border-left: none;
}

.input.contained {
  padding: 0 6px;
}

.legend {
  position: absolute;
  top: 3px;
  left: 5px;
  z-index: -1;
  transition: 200ms linear;
  font-size: 16px;
}

.legend.underline {
  left: -2px;
}

.legend.contained {
  left: 4px;
}

.input:focus.basic,
.textarea:focus.basic {
  outline: 1px solid var(--color-primary-700);
  border-color: var(--color-primary-700);
}

.input:focus.outlined,
.textarea:focus.outlined {
  outline: 1px solid var(--color-primary-700);
  border-color: var(--color-primary-700);
}

.input:focus.underline,
.input:focus.contained,
.textarea:focus.underline,
.textarea:focus.contained {
  outline: none;
  border-color: var(--color-primary-700);
  box-shadow: inset 0 -1px 0 0 var(--color-primary-700);
}

.input:not(:placeholder-shown) + legend,
.input:focus + legend,
.textarea:not(:placeholder-shown) + legend,
.textarea:focus + legend {
  top: -9px;
  z-index: 1;
  background-color: white;
  color: var(--color-primary-700);
  font-size: 12px;
}

.input.contained:not(:placeholder-shown) + legend,
.input.contained:focus + legend,
.textarea.contained:not(:placeholder-shown) + legend,
.textarea.contained:focus + legend {
  top: 3px;
  background-color: transparent;
}

.textarea {
  padding: 6px;
  resize: none;
}

.textarea.contained {
  padding: 6px;
}

.textarea.underline {
  padding: 6px 0;
}

.textarea.legend.contained {
  top: 6px;
  left: 4px;
}

/* media min-width 575px */
