.loader {
  position: absolute;
}

.loader.basic {
  top: 6px;
  right: 6px;
}

.loader.contained {
  bottom: 6px;
  right: 6px;
}

.loader.outlined {
  top: 6px;
  right: 6px;
}

.loader.underline {
  top: 6px;
  right: 0px;
}

.loader.medium {
  top: 8px;
}

.loader.large {
  top: 9px;
}

.loader.extra-large {
  top: 10px;
}

.loader.contained.medium,
.loader.underline.medium {
  top: initial;
  bottom: 6px;
}

.loader.contained.large,
.loader.underline.large {
  top: initial;
  bottom: 8px;
}

.loader.contained.extra-large,
.loader.underline.extra-large {
  top: initial;
  bottom: 9px;
}

/* Icon */

.icon {
  position: absolute;
  display: flex;
  color: #777;
}

.icon.basic.endIcon {
  top: 7px;
  right: 6px;
}

.icon.contained.endIcon {
  bottom: 6px;
  right: 6px;
}

.icon.outlined.endIcon {
  top: 7px;
  right: 6px;
}

.icon.underline.endIcon {
  top: 6px;
  right: 0px;
}

.icon.basic.startIcon {
  top: 7px;
  left: 6px;
}

.icon.contained.startIcon {
  bottom: 6px;
  left: 6px;
}

.icon.outlined.startIcon {
  top: 7px;
  left: 6px;
}

.icon.underline.startIcon {
  top: 6px;
  left: -2px;
}

.icon.basic.startIcon.medium,
.icon.outlined.startIcon.medium {
  top: 8px;
}

.icon.contained.startIcon.medium,
.icon.underline.startIcon.medium {
  top: initial;
  /* bottom: 7px; */
  bottom: 6px;
}

.icon.basic.startIcon.large,
.icon.outlined.startIcon.large {
  top: 9px;
}

.icon.contained.startIcon.large {
  top: initial;
  bottom: 8px;
}

.icon.underline.startIcon.large {
  top: initial;
  bottom: 7px;
}

.icon.basic.startIcon.extra-large,
.icon.outlined.startIcon.extra-large {
  top: 10px;
}

.icon.contained.startIcon.extra-large {
  top: initial;
  bottom: 9px;
}

.icon.underline.startIcon.extra-large {
  top: initial;
  bottom: 8px;
}

.icon.basic.endIcon.medium,
.icon.outlined.endIcon.medium {
  top: 8px;
}

.icon.contained.endIcon.medium,
.icon.underline.endIcon.medium {
  top: initial;
  bottom: 6px;
}

.icon.basic.endIcon.large,
.icon.outlined.endIcon.large {
  top: 9px;
}

.icon.contained.endIcon.large {
  top: initial;
  bottom: 8px;
}

.icon.underline.endIcon.large {
  top: initial;
  bottom: 7px;
}

.icon.basic.endIcon.extra-large,
.icon.outlined.endIcon.extra-large {
  top: 10px;
}

.icon.contained.endIcon.extra-large {
  top: initial;
  bottom: 9px;
}

.icon.underline.endIcon.extra-large {
  top: initial;
  bottom: 8px;
}

.valid {
  color: var(--color-success-400);
}

.invalid {
  color: var(--color-negative-500);
}
