input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* For dark theme */
/* input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    box-shadow: 0 0 0 1000px #1e1e1e inset !important;
    -webkit-box-shadow: 0 0 0 1000px #1e1e1e inset !important;
    -webkit-text-fill-color: #f5f5f5 !important;
    transition: background-color 5000s ease-in-out 0s;
} */

/* Light Theme */
/* body:not(.dark) input:-webkit-autofill {
    box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #000 !important;
} */

/* Dark Theme */
/* body.dark input:-webkit-autofill {
    box-shadow: 0 0 0 1000px #1e1e1e inset !important;
    -webkit-text-fill-color: #f5f5f5 !important;
} */
