.info {
  display: flex;
  gap: 0.25rem;
  padding: 0.25rem;
  align-items: center;
  border: 1px solid var(--color-black-700);
  font-size: 14px;
  background-color: transparent;
}

.info span {
  display: block;
}

/* --- Variants --- */

.outlined {
  background-color: transparent;
}

.text {
  background-color: transparent;
  border-color: transparent;
}

/* --- Colors --- */

.contained.primary {
  background-color: var(--color-primary-700);
  color: var(--color-text-white);
  border-color: var(--color-primary-700);
}

.contained.secondary {
  background-color: var(--color-secondary-400);
  color: var(--color-text-white);
  border-color: var(--color-secondary-400);
}

.outlined.primary {
  border-color: var(--color-primary-700);
  color: var(--color-primary-700);
}

.outlined.secondary {
  border-color: var(--color-secondary-400);
  color: var(--color-secondary-700);
}

.text.primary {
  color: var(--color-primary-700);
}

.text.secondary {
  color: var(--color-secondary-700);
}

/* --- Spacing --- */

.none {
  border-right: 0;
  border-left: 0;
}

.info
  + button.button:disabled:not(.tight, .normal, .loose, .extra-loose, .text) {
  border-left: 0;
}
