.loader {
  display: block;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  border: 1px solid var(--color-track);
  border-top: 1px solid var(--color-spin);
  border-radius: 50%;

  --size-xs: 14px;
  --size-xxs: 14px;
  --size-sm: 16px;
  --size-md: 16px;
  --size-lg: 16px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* TODO: usuń te inner-size klasy a zostaw tylko ich wartość przypisane do size-xs itp */
/* Jak będzie potrzeba większego loader to można przez style bezposrednio ustawić i tyle */

/* Sizes */

.size-xs {
  --size: var(var(--size-xs));
  width: 14px;
  height: 14px;
}

.size-xxs {
  --size: var(var(--size-xxs));
  width: 14px;
  height: 14px;
}

.size-sm {
  --size: var(var(--size-sm));
  width: 16px;
  height: 16px;
}

.size-md {
  --size: var(var(--size-md));
  width: 16px;
  height: 16px;
}

.size-lg {
  --size: var(var(--size-lg));
  width: 16px;
  height: 16px;
}

/* Position */

.element {
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 16px);
  transform: translate(-50%, -50%);
}

/* potem calce left: calc(50% - var(--inner-size)) */
/* Chodzi by jedną wartość  */

.viewport {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Border */

.border-xs {
  border-width: 1px;
  border-top-width: 1px;
}

.border-sm {
  border-width: 2px;
  border-top-width: 2px;
}

.border-md {
  border-width: 3px;
  border-top-width: 3px;
}

.border-lg {
  border-width: 4px;
  border-top-width: 4px;
}

.border-xl {
  border-width: 5px;
  border-top-width: 5px;
}
