.inputWrapper {
  display: flex;
  position: relative;
  width: 100%;
  border: 1px solid var(--color-black-700);
  transition: 200ms linear;
}

.inputWrapper:focus-within {
  border-color: var(--color-primary-700);
  outline: 1px solid var(--color-primary-700);
}

.inputWrapper.contained:focus-within,
.inputWrapper.underline:focus-within {
  outline: none;
}

.inputWrapper.underline:focus-within,
.inputWrapper.contained:focus-within {
  outline: none;
  border-color: var(--color-primary-700);
  box-shadow: inset 0 -1px 0 0 var(--color-primary-700);
}

.inputWrapper.contained,
.inputWrapper.underline {
  border-right: none;
  border-left: none;
  border-top: none;
}

.inputWrapper.contained {
  background-color: rgb(249, 249, 249);
  z-index: 0;
}

.startIcon,
.endIcon {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 6px 8px;
}

.startIcon.contained,
.endIcon.contained {
  align-items: center;
  margin-top: 1rem;
  z-index: -1;
}

/* Size icons */

.startIcon.small,
.endIcon.small {
  font-size: 14px;
}

.startIcon.medium,
.endIcon.medium {
  font-size: 15px;
}

.startIcon.large,
.endIcon.large {
  font-size: 16px;
}

.startIcon.extra-large,
.endIcon.extra-large {
  font-size: 16px;
}

/* Status when inputWrapper used */

.inputWrapper.inValid {
  border-color: var(--color-negative-500);
}

.inputWrapper.valid {
  border-color: var(--color-success-400);
}

.endIcon.inValid {
  color: var(--color-negative-500);
}

.endIcon.valid {
  color: var(--color-success-400);
}

.inputWrapper.valid:focus-within {
  outline: 1px solid var(--color-success-400);
}

.inputWrapper.inValid:focus-within {
  outline: 1px solid var(--color-negative-500);
}

.inputWrapper.valid.underline:focus-within,
.inputWrapper.valid.contained:focus-within {
  outline: none;
  border-color: var(--color-success-400);
  box-shadow: inset 0 -1px 0 0 var(--color-success-400);
}

.inputWrapper.inValid.underline:focus-within,
.inputWrapper.inValid.contained:focus-within {
  outline: none;
  border-color: var(--color-negative-500);
  box-shadow: inset 0 -1px 0 0 var(--color-negative-500);
}
