@import './Status.module.css';
@import './Disabled.module.css';
@import './Focus.module.css';
@import './Variants.module.css';

.fieldset {
  position: relative;
  width: 100%;
  min-height: inherit;
  padding: initial;
  border: none;
}

.fieldset.size-xs {
  min-height: 26px;
}

.fieldset.size-sm {
  min-height: 28px;
}

.fieldset.size-md {
  min-height: 30px;
}

.fieldset.size-lg {
  min-height: 36px;
}

/* Tu jest input padding */
.input,
.textarea {
  display: flex;
  width: 100%;
  min-height: inherit;
  padding: 0 6px;
  color: var(--color-text-primary);
  font-size: 14px;
  border: 1px solid var(--color-black-700);
}

/* Size font inputs */
.fieldset.size-sm > .input,
.fieldset.size-sm > .textarea,
.fieldset.size-md > .input,
.fieldset.size-md > .textarea {
  font-size: 15px;
}

.fieldset.size-lg > .input,
.fieldset.size-lg > .textarea {
  font-size: 16px;
}

.legend {
  position: absolute;
  top: 6px;
  left: 4px;
  z-index: -1;
  transition: 200ms linear;
  font-size: 14px;
}

.legend.size-sm {
  top: 6px;
}

.legend.size-md {
  top: 7px;
}

.legend.size-lg {
  top: 10px;
}

.textarea {
  padding: 6px;
  resize: none;
}

/* Input wrapper */

.inputWrapper {
  display: flex;
  position: relative;
  width: inherit;
  min-height: 26px;
  border: 1px solid var(--color-black-700);
}

.inputWrapper:focus-within {
  border-color: var(--color-primary-700);
  outline: 1px solid var(--color-primary-700);
}

.inputWrapper.contained:focus-within,
.inputWrapper.underline:focus-within {
  outline: none;
}

.inputWrapper.underline:focus-within,
.inputWrapper.contained:focus-within {
  outline: none;
  border-color: var(--color-primary-700);
  box-shadow: inset 0 -1px 0 0 var(--color-primary-700);
}

.inputWrapper.contained,
.inputWrapper.underline {
  border-right: none;
  border-left: none;
  border-top: none;
}

.inputWrapper.contained {
  background-color: rgb(249, 249, 249);
  z-index: 0;
}

.inputWrapper > button.endIcon,
.inputWrapper > button.startIcon,
.inputWrapper > span {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 6px 8px;
}

.inputWrapper > button.startIcon:focus,
.inputWrapper > button.endIcon:focus {
  outline: none;
}

.inputWrapper.startIcon .input,
.inputWrapper.startIcon .textarea {
  padding-left: initial;
}

.inputWrapper.inValid .input,
.inputWrapper.valid .input,
.inputWrapper.endIcon .input,
.inputWrapper.inValid .textarea,
.inputWrapper.valid .textarea,
.inputWrapper.endIcon .textarea {
  padding-right: initial;
}

/* ---- */

.inputWrapper.startIcon.contained > button,
.inputWrapper.endIcon.contained > button,
.inputWrapper.endIcon.contained > span {
  align-items: center;
  margin-top: 1rem;
  z-index: -1;
}

/* Tu valid */
.inputWrapper:has(textarea).startIcon.contained > button,
.inputWrapper:has(textarea).endIcon.contained > button,
.inputWrapper:has(textarea).endIcon.contained > span,
.inputWrapper:has(textarea).valid.contained > span,
.inputWrapper:has(textarea).inValid.contained > span {
  align-items: flex-start;
  margin-top: 15px;
  z-index: -1;
}

.inputWrapper:has(textarea).startIcon > button,
.inputWrapper:has(textarea).endIcon > button,
.inputWrapper:has(textarea).endIcon > span,
.inputWrapper:has(textarea).valid > span,
.inputWrapper:has(textarea).inValid > span {
  align-items: flex-start;
  margin-top: initial;
  padding: 8px;
}

/* Size icons */

.startIcon.size-xs,
.endIcon.size-xs {
  font-size: 14px;
}

.startIcon.size-sm,
.endIcon.size-sm,
.startIcon.size-md,
.endIcon.size-md {
  font-size: 15px;
}

.startIcon.size-lg,
.endIcon.size-lg {
  font-size: 16px;
}

/* Status when inputWrapper used */

.inputWrapper.inValid {
  border-color: var(--color-negative-500);
}

.inputWrapper.valid {
  border-color: var(--color-success-400);
}

.endIcon.inValid {
  color: var(--color-negative-500);
}

.endIcon.valid {
  color: var(--color-success-400);
}

.inputWrapper.valid:focus-within {
  outline: 1px solid var(--color-success-400);
}

.inputWrapper.inValid:focus-within {
  outline: 1px solid var(--color-negative-500);
}

.inputWrapper.valid.underline:focus-within,
.inputWrapper.valid.contained:focus-within {
  outline: none;
  border-color: var(--color-success-400);
  box-shadow: inset 0 -1px 0 0 var(--color-success-400);
}

.inputWrapper.inValid.underline:focus-within,
.inputWrapper.inValid.contained:focus-within {
  outline: none;
  border-color: var(--color-negative-500);
  box-shadow: inset 0 -1px 0 0 var(--color-negative-500);
}

/* Disabled */

.inputWrapper.disabled {
  border-color: var(--color-black-300);
}

.startIcon.disabled,
.endIcon.disabled {
  color: var(--color-black-400);
  pointer-events: none;
}

.startIcon.readOnly,
.endIcon.readOnly {
  pointer-events: none;
}

/* When used with input or textarea wrapper */

.inputWrapper > .fieldset > .input,
.inputWrapper > .fieldset > .textarea {
  border: none;
}

.inputWrapper > .fieldset > .input:focus,
.inputWrapper > .fieldset > .textarea:focus {
  outline: none;
}

.inputWrapper:hover:not(:focus-within) {
  border-color: var(--color-black-800);
  outline: none;
  box-shadow: none;
}
