@import './Status.module.css';
@import './Disabled.module.css';
@import './Focus.module.css';
@import './Variants.module.css';

.fieldset {
  position: relative;
  width: 100%;
  min-height: inherit;
  padding: initial;
  border: none;
}

.fieldset.size-xs {
  min-height: 26px;
}

.fieldset.size-sm {
  min-height: 28px;
}

.fieldset.size-md {
  min-height: 30px;
}

.fieldset.size-lg {
  min-height: 36px;
}

.input,
.textarea {
  display: grid;
  width: 100%;
  min-height: inherit;
  padding: 0 6px;
  color: var(--color-text-primary);
  font-size: 14px;
  border: 1px solid var(--color-black-700);
  transition: 100ms linear;
}

.fieldset.medium > .input,
.fieldset.medium > .textarea,
.fieldset.large > .input,
.fieldset.large > .textarea,
.fieldset.extra-large > .input,
.fieldset.extra-large > .textarea {
  font-size: 15px;
}

.legend {
  position: absolute;
  top: 6px;
  left: 4px;
  z-index: -1;
  transition: 200ms linear;
  font-size: 14px;
}

.legend.startIcon {
  left: -2px;
}

.legend.medium {
  top: 7px;
}

.legend.large {
  top: 8px;
}

.legend.extra-large {
  top: 9px;
}

.textarea {
  padding: 6px;
  resize: none;
}

.input.startIcon {
  padding-left: initial;
  border-left: none;
}

.input.endIcon {
  padding-right: initial;
  border-right: none;
}

/* Input wrapper */

.inputWrapper {
  display: flex;
  position: relative;
  width: inherit;
  min-height: 26px;
  border: 1px solid var(--color-black-700);
}

.inputWrapper:focus-within {
  border-color: var(--color-primary-700);
  outline: 1px solid var(--color-primary-700);
}

.inputWrapper.contained:focus-within,
.inputWrapper.underline:focus-within {
  outline: none;
}

.inputWrapper.underline:focus-within,
.inputWrapper.contained:focus-within {
  outline: none;
  border-color: var(--color-primary-700);
  box-shadow: inset 0 -1px 0 0 var(--color-primary-700);
}

.inputWrapper.contained,
.inputWrapper.underline {
  border-right: none;
  border-left: none;
  border-top: none;
}

.inputWrapper.contained {
  background-color: rgb(249, 249, 249);
  z-index: 0;
}

.startIcon,
.endIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  /* width: 2rem; */
  /* min-height: inherit; */
  padding: 6px 8px;
}

.startIcon.contained,
.endIcon.contained {
  align-items: center;
  margin-top: 1rem;
  z-index: -1;
}

/* Size icons */

.startIcon.size-xs,
.endIcon.size-xs {
  font-size: 14px;
}

.startIcon.size-sm,
.endIcon.size-sm {
  font-size: 14px;
}

.startIcon.size-md,
.endIcon.size-md {
  font-size: 15px;
}

.startIcon.size-lg,
.endIcon.size-lg {
  font-size: 16px;
}

/* Status when inputWrapper used */

.inputWrapper.inValid {
  border-color: var(--color-negative-500);
}

.inputWrapper.valid {
  border-color: var(--color-success-400);
}

.endIcon.inValid {
  color: var(--color-negative-500);
}

.endIcon.valid {
  color: var(--color-success-400);
}

.inputWrapper.valid:focus-within {
  outline: 1px solid var(--color-success-400);
}

.inputWrapper.inValid:focus-within {
  outline: 1px solid var(--color-negative-500);
}

.inputWrapper.valid.underline:focus-within,
.inputWrapper.valid.contained:focus-within {
  outline: none;
  border-color: var(--color-success-400);
  box-shadow: inset 0 -1px 0 0 var(--color-success-400);
}

.inputWrapper.inValid.underline:focus-within,
.inputWrapper.inValid.contained:focus-within {
  outline: none;
  border-color: var(--color-negative-500);
  box-shadow: inset 0 -1px 0 0 var(--color-negative-500);
}

/* Disabled */

.inputWrapper.disabled {
  border-color: var(--color-black-300);
}

.startIcon.disabled,
.endIcon.disabled {
  color: var(--color-black-400);
  pointer-events: none;
}

.startIcon.readOnly,
.endIcon.readOnly {
  pointer-events: none;
}

/* When used with input wrapper */

.inputWrapper > .fieldset > .input,
.inputWrapper > .fieldset > .textarea {
  border: none;
}

.inputWrapper > .fieldset > .input:focus,
.inputWrapper > .fieldset > .textarea:focus {
  outline: none;
}
