@import './Status.module.css';
@import './Disabled.module.css';
@import './Focus.module.css';
@import './Variants.module.css';

.fieldset {
  position: relative;
  width: 100%;
  min-height: 28px;
  padding: initial;
  border: none;
}

.fieldset.medium {
  min-height: 30px;
}

.fieldset.large {
  min-height: 32px;
}

.fieldset.extra-large {
  min-height: 34px;
}

.input,
.textarea {
  display: grid;
  width: 100%;
  min-height: inherit;
  padding: 0 6px;
  color: var(--color-text-primary);
  font-size: 14px;
  border: 1px solid var(--color-black-700);
  transition: 100ms linear;
}

.input.noBorder,
.textarea.noBorder {
  border: none;
}

.fieldset.medium > .input,
.fieldset.medium > .textarea,
.fieldset.large > .input,
.fieldset.large > .textarea,
.fieldset.extra-large > .input,
.fieldset.extra-large > .textarea {
  font-size: 15px;
}

.legend {
  position: absolute;
  top: 6px;
  left: 4px;
  z-index: -1;
  transition: 200ms linear;
  font-size: 14px;
}

.legend.startIcon {
  left: -2px;
}

.legend.medium {
  top: 7px;
}

.legend.large {
  top: 8px;
}

.legend.extra-large {
  top: 9px;
}

.textarea {
  padding: 6px;
  resize: none;
}

.input.startIcon {
  padding-left: initial;
  border-left: none;
}

.input.endIcon {
  padding-right: initial;
  border-right: none;
}

/* media min-width 575px */

/* Dodaj media queris dla desktop > 575px to co już sa style beda dla mobile
Może jeszcze lekkie korekty odległości dla mobile */

/* ----------------- Nowe style ------------------- */
