/* Variant outlined */

.input.outlined,
.textarea.outlined {
  background-color: transparent;
}

.input.outlined.startIcon:not(:placeholder-shown) + legend,
.input.outlined.startIcon:focus + legend,
.textarea.outlined.startIcon:not(:placeholder-shown) + legend,
.textarea.outlined.startIcon:focus + legend {
  left: -26px;
}

/* Variant contained */

.fieldset.contained::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1.5px;
  background-color: rgb(249, 249, 249);
  z-index: -1;
}

.fieldset.contained {
  padding: 16px 0 0;
}

.input.contained,
.textarea.contained {
  padding: initial;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
}

.input.contained {
  top: 6px;
  left: 4px;
  padding: 0 6px;
}

.textarea.contained {
  padding: 6px;
}

.legend.contained.startIcon {
  left: -26px;
}

.legend.contained {
  top: 2px;
}

.input.contained:not(:placeholder-shown) + legend,
.input.contained:focus + legend,
.textarea.contained:not(:placeholder-shown) + legend,
.textarea.contained:focus + legend {
  top: 3px;
  background-color: transparent;
}

.input.contained.startIcon:not(:placeholder-shown) + legend,
.input.contained.startIcon:focus + legend,
.textarea.contained.startIcon:not(:placeholder-shown) + legend,
.textarea.contained.startIcon:focus + legend {
  background-color: transparent;
}

.input:not(.noBorder).contained:focus,
.textarea:not(.noBorder).contained:focus {
  outline: none;
  box-shadow: inset 0 -1px 0 0 var(--color-primary-700);
}

.input:not(.noBorder).valid.contained:focus,
.textarea:not(.noBorder).valid.contained:focus {
  outline: none;
  box-shadow: inset 0 -1px 0 0 var(--color-success-400);
}

.input:not(.noBorder).inValid.contained:focus,
.textarea:not(.noBorder).inValid.contained:focus {
  outline: none;
  box-shadow: inset 0 -1px 0 0 var(--color-negative-500);
}

/* Variant underline */

.input.underline,
.textarea.underline {
  padding: initial;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
}

.legend.underline {
  left: -2px;
}

.input.underline:not(:placeholder-shown) + legend,
.input.underline:focus + legend,
.textarea.underline:not(:placeholder-shown) + legend,
.textarea.underline:focus + legend {
  top: -12px;
}

.input.underline.startIcon:not(:placeholder-shown) + legend,
.input.underline.startIcon:focus + legend,
.textarea.underline.startIcon:not(:placeholder-shown) + legend,
.textarea.underline.startIcon:focus + legend {
  left: -33px;
}

.textarea.underline {
  padding: 6px 0;
}

.input:not(.noBorder).underline:focus,
.textarea:not(.noBorder).underline:focus {
  outline: none;
  box-shadow: inset 0 -1px 0 0 var(--color-primary-700);
}

.input:not(.noBorder).valid.underline:focus,
.textarea:not(.noBorder).valid.underline:focus {
  outline: none;
  box-shadow: inset 0 -1px 0 0 var(--color-success-400);
}

.input:not(.noBorder).inValid.underline:focus,
.textarea:not(.noBorder).inValid.underline:focus {
  outline: none;
  box-shadow: inset 0 -1px 0 0 var(--color-negative-500);
}
