.stack {
  display: flex;
}

/* Direction */

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

/* Full width */

.stack.full-width {
  width: 100%;
}

/* --- Spacing --- */

.none {
  gap: initial;
}

.tight {
  gap: 0.25rem;
}

.normal {
  gap: 0.5rem;
}

.loose {
  gap: 0.75rem;
}

.extra-loose {
  gap: 1rem;
}

/* --- Justify --- */

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

/* --- Aligment --- */

.aligment-start {
  align-items: flex-start;
}

.aligment-end {
  align-items: flex-end;
}

.aligment-center {
  align-items: center;
}

.stretch {
  align-items: stretch;
}

.wrap {
  flex-wrap: wrap;
}
