@import '../button/Disabled.module.css';

.linkButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  min-width: 64px;
  width: fit-content;
  border: none;
  border-radius: initial;
  cursor: pointer;
  user-select: none;
  transition: 0.3s linear;
  text-decoration: none;
  line-height: normal;
}
