.selectOption {
  width: 100%;
  padding: 6px;
  list-style: none;
  will-change: background-color, opacity;
  font-size: 14px;
}

.selectOption:last-child {
  border-bottom: initial;
}

.active {
  background-color: var(--color-primary-100);
}

.selectOption:focus {
  background-color: var(--color-primary-50);
  outline: none;
}

.selectOption:hover {
  background-color: var(--color-primary-50);
}

.size-xs {
  font-size: 14px;
}

.size-sm {
  font-size: 14px;
}

.size-md {
  font-size: 15px;
}

.size-lg {
  font-size: 16px;
}
