.block {
  position: relative;
  width: 25%;
  background-color: var(--color-secondary-50);
  color: white;
  font-size: 0.45rem;
  text-align: center;
  overflow: hidden;
  border-radius: 2px;
}

.block span {
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: opacity 500ms ease;
  user-select: none;
}

.block.isValid span {
  opacity: 1;
}

.block::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  transition: width 600ms ease;
  z-index: 0;
  border-radius: 2px;
}

.block.isValid::before {
  width: 100%;
}

.block.red::before {
  background-color: var(--color-negative-700);
}

.block.orange::before {
  background-color: var(--color-warning-800);
}

.block.yellow::before {
  background-color: var(--color-success-600);
}

.block.green::before {
  background-color: var(--color-success-900);
}
