.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(50% - 0.5rem), 1fr));
  gap: 0.5rem;
  width: 100%;
  height: 200px;
  padding: 0.5rem;
  box-shadow: 0px 0px 0px 1px #ddd;
  overflow: auto;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  overflow-x: auto;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
