.backdropElement {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--z-backdrop);
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  --animation-duration: 300ms;
}

.enter {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
}

.enterActive {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: var(--animation-duration) linear;
}

.exit {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.exitActive {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: var(--animation-duration) linear;
}
