.form,
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form {
  gap: 0.25rem;
  padding: 0.5rem;
  border: 1px solid #eee;
}

@media (min-width: 575px) {
  .row {
    flex-direction: row;
  }

  .column {
    flex-direction: column;
  }
}
