.form,
.formGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form {
  gap: 0.25rem;
}

@media (min-width: 575px) {
  .row {
    flex-direction: row;
  }

  .column {
    flex-direction: column;
  }
}
