.image {
  display: block;
  height: auto;
  max-width: 100%;
}

/* .preview-grid,
.preview-column {
  min-width: none;
  height: 100%;
  object-fit: cover;
  aspect-ratio: auto 3/4;
}

.preview-row {
  max-width: initial;
  min-width: 100%;
} */
