.selectPanelElement {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: orange;
  will-change: opacity;
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 300ms;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity 300ms;
}
