.dropZone {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  border: 1px solid var(--color-black-200);
  background-color: transparent;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  transition: 300ms linear;
}

.dropZone.enter {
  background-color: var(--color-black-200);
}

.title {
  text-transform: uppercase;
}
