.selectPanelElement {
  position: absolute;
  width: 200px;
  padding: 6px;
  will-change: opacity;
  border: 1px solid #ddd;
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 300ms;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity 300ms;
}
