.textInput {
  position: relative;
  width: 100%;
}

.loader {
  position: absolute;
}

.loader.basic {
  top: 6px;
  right: 6px;
}

.loader.contained {
  bottom: 6px;
  right: 6px;
}

.loader.outlined {
  top: 6px;
  right: 6px;
}

.loader.underline {
  top: 6px;
  right: 6px;
}

/* Icon może left 0 bottom 0 right calc(100% - 2rem) top 0 */
/* for end icon */
/* by mieć przestrzeń i na icon wtedy flex align items justify content wtedy niezależnie od rozmiaru bedzie center */

.icon {
  position: absolute;
  display: flex;
  color: #777;
}

.icon.basic.endIcon {
  top: 6px;
  right: 6px;
}

.icon.contained.endIcon {
  bottom: 6px;
  right: 6px;
}

.icon.outlined.endIcon {
  top: 6px;
  right: 6px;
}

.icon.underline.endIcon {
  top: 6px;
  right: 6px;
}

.icon.basic.startIcon {
  top: 6px;
  left: 6px;
}

.icon.contained.startIcon {
  bottom: 6px;
  left: 6px;
}

.icon.outlined.startIcon {
  top: 6px;
  left: 6px;
}

.icon.underline.startIcon {
  top: 6px;
  left: 6px;
}
