.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  min-width: 32px;
  border: 1px solid #555;
  background-color: transparent;
}

.active {
  background-color: goldenrod;
}

/* 20px */
.size-xxs {
  min-width: 24px;
  padding: 4px;
  font-size: 14px;
}

/* 28px */
.size-xs {
  min-width: 28px;
  max-height: 28px;
  padding: 6px;
  font-size: 14px;
}

/* 30px */
.size-sm {
  min-width: 30px;
  max-height: 30px;
  padding: 6.5px;
  font-size: 15px;
}

/* 32px */
.size-md {
  min-width: 32px;
  max-height: 32px;
  padding: 7px;
  font-size: 16px;
}

/* 36px */
.size-lg {
  min-width: 36px;
  max-height: 36px;
  padding: 8px;
  font-size: 18px;
}
