/* --- Colors --- */

.outlined {
  background-color: transparent;
  color: var(--color-text-primary);
}

.text {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-text-primary);
}

.contained.primary {
  background-color: var(--color-primary-700);
  color: var(--color-text-white);
  border-color: var(--color-primary-700);
}

.contained.secondary {
  background-color: var(--color-secondary-400);
  color: var(--color-text-white);
  border-color: var(--color-secondary-400);
}

.outlined.primary {
  border-color: var(--color-primary-700);
  color: var(--color-primary-700);
}

.outlined.secondary {
  border-color: var(--color-secondary-400);
  color: var(--color-secondary-700);
}

.text.primary {
  color: var(--color-primary-700);
}

.text.secondary {
  color: var(--color-secondary-700);
}

/* --- Hover or select color --- */

.contained:not(.info).primary:hover,
.contained:not(.info).primary.active {
  background-color: var(--color-primary-800);
  border-color: var(--color-primary-800);
}

.contained:not(.info).secondary:hover,
.contained:not(.info).secondary.active {
  background-color: var(--color-secondary-500);
  border-color: var(--color-secondary-500);
}

.outlined:not(.info).primary:hover,
.text:not(.info).primary:hover,
.outlined:not(.info).primary.active,
.text:not(.info).primary.active {
  background-color: var(--color-primary-50);
}

.outlined:not(.info).secondary:hover,
.text:not(.info).secondary:hover,
.outlined:not(.info).secondary.active,
.text:not(.info).secondary.active {
  background-color: var(--color-secondary-100);
}

.info.primary,
.info.secondary {
  color: var(--color-text-primary);
}

.info.contained.primary,
.info.contained.secondary {
  color: var(--color-text-white);
}
