/* --- Colors --- */

.primary {
  background-color: var(--color-primary-700);
  color: var(--color-text-white);
  border-color: var(--color-primary-700);
}

.secondary {
  background-color: var(--color-secondary-400);
  color: var(--color-text-white);
  border-color: var(--color-secondary-400);
}

/* --- Hover color --- */

.primary:hover,
.primary.active {
  background-color: var(--color-primary-800);
  border-color: var(--color-primary-800);
}

.secondary:hover,
.secondary.active {
  background-color: var(--color-secondary-500);
  border-color: var(--color-secondary-500);
}
