/* --- Disabled --- */

.button:disabled.contained.primary,
.button:disabled.contained.secondary,
.active.contained.primary:disabled,
.active.contained.secondary:disabled {
  background-color: var(--color-disabled-100);
  border-color: var(--color-disabled-100);
  cursor: not-allowed;
}

.button.outlined.primary:disabled,
.button.outlined.secondary:disabled {
  border-color: var(--color-disabled-100);
}

.button.outlined:disabled,
.button.outlined:disabled svg,
.button.text:disabled,
.button.text:disabled svg {
  color: var(--color-text-disabled);
}
