/* --- Size --- */

/* 24px */
.size-xxs {
  min-width: 24px;
  font-size: 14px;
  padding: 3px 4px;
}

/* 28px */
.size-xs {
  min-width: 28px;
  padding: 5px 4px;
  font-size: 14px;
}

/* 30px */
.size-sm {
  min-width: 30px;
  padding: 5.5px 4px;
  font-size: 15px;
}

/* 32px */
.size-md {
  min-width: 32px;
  padding: 6px 4px;
  font-size: 16px;
}

/* 36px */
.size-lg {
  min-width: 36px;
  padding: 8px 4px;
  font-size: 16px;
}
