.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border: 1px solid var(--color-black-700);
  min-width: 28px;
  padding: 5px 4px;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s linear;
  text-decoration: none;
}

/* --- Clear buttons border radius when none spacing --- */

.button:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* --- Active state --- */

.active:not(:disabled) {
  background-color: var(--color-black-400);
  color: var(--color-text-white);
}

.button:not(:disabled):not(.primary):not(.secondary):hover {
  background-color: var(--color-black-200);
}

.button:not(:disabled):not(.primary):not(.secondary).active:hover {
  background-color: var(--color-black-400);
}

/* --- Colors --- */

.primary {
  background-color: var(--color-primary-700);
  color: var(--color-text-white);
  border: 1px solid var(--color-primary-700);
}

.secondary {
  background-color: var(--color-secondary-400);
  color: var(--color-text-white);
  border: 1px solid var(--color-secondary-400);
}

/* --- Hover color --- */

.primary:hover,
.primary.active {
  background-color: var(--color-primary-800);
  border-color: var(--color-primary-800);
}

.secondary:hover,
.secondary.active {
  background-color: var(--color-secondary-500);
  border-color: var(--color-secondary-500);
}

/* --- Size --- */

/* 24px */
.size-xxs {
  min-width: 24px;
  font-size: 14px;
  padding: 3px 4px;
}

/* 28px */
.size-xs {
  min-width: 28px;
  padding: 5px 4px;
  font-size: 14px;
}

/* 30px */
.size-sm {
  min-width: 30px;
  padding: 5.5px 4px;
  font-size: 15px;
}

/* 32px */
.size-md {
  min-width: 32px;
  padding: 6px 4px;
  font-size: 16px;
}

/* 36px */
.size-lg {
  min-width: 36px;
  padding: 8px 4px;
  font-size: 16px;
}

/* --- Border radius --- */

.radius-xs {
  border-radius: 2px;
}

.radius-sm {
  border-radius: 4px;
}

.radius-md {
  border-radius: 6px;
}

.radius-lg {
  border-radius: 8px;
}

.radius-xl {
  border-radius: 100vh;
}

/* --- Variant --- */

.outlined.primary,
.outlined.secondary {
  background: initial;
  background-color: transparent;
}

.outlined.primary,
.text.primary {
  color: var(--color-primary-700);
}

.outlined.secondary,
.text.secondary {
  color: var(--color-secondary-700);
}

/* --- Hover outline variant --- */

.outlined.primary:hover,
.text.primary:hover {
  background-color: var(--color-primary-50);
}

.outlined.secondary:hover,
.text.secondary:hover {
  background-color: var(--color-secondary-50);
}

.text,
.text.primary,
.text.secondary {
  background: initial;
  background-color: transparent;
  border-color: transparent;
}

/* disabled */

.button:disabled:not(.outlined):not(.text).primary,
.button:disabled:not(.outlined):not(.text).secondary,
.active:not(.outlined):not(.text):disabled {
  background-color: var(--color-disabled-100);
  border-color: var(--color-disabled-100);
  cursor: not-allowed;
}

button.outlined:disabled {
  border-color: var(--color-disabled-100);
}

button.outlined:disabled,
button.outlined:disabled svg,
button.text:disabled,
button.text:disabled svg {
  color: var(--color-text-disabled);
}

/* --- Clear hover on disable --- */

button.text:disabled:hover {
  border-color: transparent;
}

button.outlined:disabled:hover,
button.text:disabled:hover {
  background-color: transparent;
}

/* --- Border --- */

.border-xs {
  border-width: 1px;
}

.border-sm {
  border-width: 2px;
}

.border-md {
  border-width: 3px;
}

.border-lg {
  border-width: 4px;
}

.border-xl {
  border-width: 5px;
}

/* --- Clear buttons when none spacing --- */

.button:disabled:not(
    .tight,
    .normal,
    .loose,
    .extra-loose,
    :last-child,
    .text
  ) {
  border-right: 0;
}

.button:not(:disabled)
  + .button:not(
    :disabled,
    .tight,
    .normal,
    .loose,
    .extra-loose,
    /* :last-child, */
    /* .contained, */
    .text
  ),
.button:not(:disabled)
  + button.button:disabled:not(
    .tight,
    .normal,
    .loose,
    .extra-loose,
    /* :last-child, */
    /* .contained, */
    .text
  ) {
  border-left: 0;
}

/* Wciąż trzeba dopracować na contained color kiedy active albo hover nie równo */
/* Związane to jest z borderem trzeba ustawić dodatkowe dla tego przypdaku tylko prawdopodobnie */
