/* --- Variant --- */

.outlined.primary,
.outlined.secondary {
  background: initial;
  background-color: transparent;
}

.outlined.primary,
.text.primary {
  color: var(--color-primary-700);
}

.outlined.secondary,
.text.secondary {
  color: var(--color-secondary-700);
}

/* --- Hover outline variant --- */

.outlined.primary:hover,
.text.primary:hover {
  background-color: var(--color-primary-50);
}

.outlined.secondary:hover,
.text.secondary:hover {
  background-color: var(--color-secondary-50);
}

.text,
.text.primary,
.text.secondary {
  background: initial;
  background-color: transparent;
  border-color: transparent;
}
