:root {
  /* Colors */

  --color-primary-50: #e3f2fd;
  --color-primary-100: #bbdefb;
  --color-primary-200: #90caf9;
  --color-primary-300: #64b5f6;
  --color-primary-400: #42a5f5;
  --color-primary-500: #2095f3;
  --color-primary-600: #1e87e5;
  --color-primary-700: #1976d2;
  --color-primary-800: #1564c0;
  --color-primary-900: #0d46a1;

  --color-secondary-50: #f9f9f9;
  --color-secondary-100: #f3f3f3;
  --color-secondary-200: #eaeaea;
  --color-secondary-300: #dbdbdb;
  --color-secondary-400: #b7b7b7;
  --color-secondary-500: #979797;
  --color-secondary-600: #6f6f6f;
  --color-secondary-700: #5b5b5b;
  --color-secondary-800: #3d3d3d;
  --color-secondary-900: #1c1c1c;

  /* Color text */

  --color-text-primary: #555555;
  --color-text-secondary: #dddddd;
  --color-text-white: white;
  --color-text-dark: #555555;
  --color-text-disabled: #c0c0c0;

  /* Feedback */

  --color-negative-50: #ffebef;
  --color-negative-100: #ffced3;
  --color-negative-200: #f59b9b;
  --color-negative-300: #ed7374;
  --color-negative-400: #f95251;
  --color-negative-500: #ff4036;
  --color-negative-600: #f03535;
  --color-negative-700: #de2a2f;
  --color-negative-800: #d12228;
  --color-negative-900: #c2111b;

  --color-success-50: #e5f8e5;
  --color-success-100: #c1edbf;
  --color-success-200: #96e196;
  --color-success-300: #64d667;
  --color-success-400: #2ecc40;
  --color-success-500: #00c200;
  --color-success-600: #00b200;
  --color-success-700: #009f00;
  --color-success-800: #008e00;
  --color-success-900: #006e00;

  --color-warning-50: #fffee8;
  --color-warning-100: #fffac4;
  --color-warning-200: #fff69d;
  --color-warning-300: #fff174;
  --color-warning-400: #fded53;
  --color-warning-500: #fbe731;
  --color-warning-600: #ffde37;
  --color-warning-700: #ffc731;
  --color-warning-800: #ffaf29;
  --color-warning-900: #ff851b;
  --color-warning-1000: #e76b00;

  --color-info-50: #e2f2fe;
  --color-info-100: #baddfd;
  --color-info-200: #8dc9fd;
  --color-info-300: #5db4fc;
  --color-info-400: #35a3fc;
  --color-info-500: #0094fb;
  --color-info-600: #0086ec;
  --color-info-700: #0074d9;
  --color-info-800: #0163c7;
  --color-info-900: #0044a8;

  --color-black-50: #f7f7f7;
  --color-black-100: #eeeeee;
  --color-black-200: #e3e3e3;
  --color-black-300: #d1d1d1;
  --color-black-400: #acacac;
  --color-black-500: #8b8b8b;
  --color-black-600: #646464;
  --color-black-700: #515151;
  --color-black-800: #333333;
  --color-black-900: #131313;

  --color-disabled: #d3d3d3;

  /* Backgrounds */
  --color-surface-fieldset: white;
  --color-surface-input: white;

  /* Loader */
  --color-track: #eeeeee;
  --color-spin: var(--color-primary-700);

  /* Fonts */
  --font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  color: var(--color-text-primary);
  font-family: var(--font-family);
}

a,
button,
input,
textarea {
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

::-moz-scrollbar {
  scrollbar-color: #555555 #f1f1f1;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background-color: transparent;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  border-radius: 100vh;
  background-clip: padding-box;
  background-color: var(--color-primary-700);
  cursor: default;
}

::-webkit-scrollbar-thumb:hover {
  border-width: 0;
}
