:root {
  /* Colors */

  --color-primary-50: #e3f2fd;
  --color-primary-100: #bbdefb;
  --color-primary-200: #90caf9;
  --color-primary-300: #64b5f6;
  --color-primary-400: #42a5f5;
  --color-primary-500: #2095f3;
  --color-primary-600: #1e87e5;
  --color-primary-700: #1976d2;
  --color-primary-800: #1564c0;
  --color-primary-900: #0d46a1;

  --color-secondary-50: #f9f9f9;
  --color-secondary-100: #f3f3f3;
  --color-secondary-200: #eaeaea;
  --color-secondary-300: #dbdbdb;
  --color-secondary-400: #b7b7b7;
  --color-secondary-500: #979797;
  --color-secondary-600: #6f6f6f;
  --color-secondary-700: #5b5b5b;
  --color-secondary-800: #3d3d3d;
  --color-secondary-900: #1c1c1c;

  /* --color-secondary: #b7b7b7; */

  /* Color text */
  --color-text-primary: #555555;
  --color-text-secondary: #dddddd;
  --color-text-white: white;
  --color-text-dark: #555555;
  --color-text-disabled: #c0c0c0;

  /* Backgrounds */

  /* Feedback */

  --color-negative-50: #ffebef;
  --color-negative-100: #ffced3;
  --color-negative-200: #f59b9b;
  --color-negative-300: #ed7374;
  --color-negative-400: #f95251;
  --color-negative-500: #ff4036;
  --color-negative-600: #f03535;
  --color-negative-700: #de2a2f;
  --color-negative-800: #d12228;
  --color-negative-900: #c2111b;

  --color-success-50: #e5f8e5;
  --color-success-100: #c1edbf;
  --color-success-200: #96e196;
  --color-success-300: #64d667;
  --color-success-400: #2ecc40;
  --color-success-500: #00c200;
  --color-success-600: #00b200;
  --color-success-700: #009f00;
  --color-success-800: #008e00;
  --color-success-900: #006e00;

  --color-warning-50: #fffee8;
  --color-warning-100: #fffac4;
  --color-warning-200: #fff69d;
  --color-warning-300: #fff174;
  --color-warning-400: #fded53;
  --color-warning-500: #fbe731;
  --color-warning-600: #ffde37;
  --color-warning-700: #ffc731;
  --color-warning-800: #ffaf29;
  --color-warning-900: #ff851b;
  --color-warning-1000: #e76b00;

  --color-info-50: #e2f2fe;
  --color-info-100: #baddfd;
  --color-info-200: #8dc9fd;
  --color-info-300: #5db4fc;
  --color-info-400: #35a3fc;
  --color-info-500: #0094fb;
  --color-info-600: #0086ec;
  --color-info-700: #0074d9;
  --color-info-800: #0163c7;
  --color-info-900: #0044a8;

  --color-disabled: #d3d3d3;

  /* Loader */
  --color-track: #dddddd;
  --color-spin: var(--color-primary-700);

  /* Fonts */
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: var(--color-text-primary);
  font-family: var(--font-family);
}
