.label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: var(--color-text-primary);
  font-size: 14px;
  margin-right: 0.5rem;
}

.label input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-black-500);
  background-color: transparent;
  width: 1rem;
  height: 1rem;
  transition: background-color 300ms ease-in-out;
}

.checkbox svg {
  width: 1rem;
  height: 1rem;
  fill: none;
  stroke: white;
  stroke-width: 3px;
  stroke-dasharray: 22px;
  stroke-dashoffset: 22px;
  transform: translateX(1px);
  transition: stroke-dashoffset 300ms ease-in-out;
}

.label input:checked + .checkbox {
  background-color: var(--color-primary-700);
  border-color: var(--color-primary-700);
}

.label input:checked + .checkbox svg {
  stroke-dashoffset: 0;
}

.label input:checked + .checkbox.unfilled {
  background-color: transparent;
}

.label input:checked + .checkbox.unfilled svg {
  stroke: var(--color-primary-700);
}

.label input:focus-visible + .checkbox {
  outline: 2px solid var(--color-primary-700);
  outline-offset: 1px;
  border-color: var(--color-primary-700);
}

.label:hover .checkbox {
  border-color: var(--color-black-500);
}

.size-xs {
  width: 14px;
  height: 14px;
  font-size: 14px;
}
.size-sm {
  width: 1rem;
  height: 1rem;
  font-size: 15px;
}
.size-md {
  width: 18px;
  height: 18px;
  font-size: 1rem;
}
.size-lg {
  width: 20px;
  height: 20px;
  font-size: 1rem;
}

.label.size-xs .checkbox,
.label.size-sm .checkbox,
.label.size-md .checkbox,
.label.size-lg .checkbox,
.label.size-xs .checkbox svg,
.label.size-sm .checkbox svg,
.label.size-md .checkbox svg,
.label.size-lg .checkbox svg {
  width: inherit;
  height: inherit;
  font-size: inherit;
}

.checkbox.primary {
  --cb-color: var(--color-primary-700);
}
.checkbox.secondary {
  --cb-color: var(--color-secondary-400);
}
.checkbox.success {
  --cb-color: var(--color-success-400);
}
.checkbox.negative {
  --cb-color: var(--color-negative-500);
}
.checkbox.warning {
  --cb-color: var(--color-warning-900);
}

.label input:checked + .checkbox.primary,
.label input:checked + .checkbox.secondary,
.label input:checked + .checkbox.success,
.label input:checked + .checkbox.negative,
.label input:checked + .checkbox.warning {
  background-color: var(--cb-color);
  border-color: var(--cb-color);
}

.label input:checked + .checkbox.unfilled.primary,
.label input:checked + .checkbox.unfilled.secondary,
.label input:checked + .checkbox.unfilled.success,
.label input:checked + .checkbox.unfilled.negative,
.label input:checked + .checkbox.unfilled.warning {
  background-color: transparent;
  border-color: var(--cb-color);
}

.label input:checked + .checkbox.unfilled.primary svg,
.label input:checked + .checkbox.unfilled.secondary svg,
.label input:checked + .checkbox.unfilled.success svg,
.label input:checked + .checkbox.unfilled.negative svg,
.label input:checked + .checkbox.unfilled.warning svg {
  stroke: var(--cb-color);
}

.label input:disabled + .checkbox {
  border-color: var(--color-black-300);
  cursor: not-allowed;
}

.label input:checked:disabled + .checkbox {
  background-color: var(--color-black-300);
  border-color: var(--color-black-300);
}

.label input:checked:disabled + .checkbox.unfilled,
.label input:checked:disabled + .checkbox.unfilled svg {
  background-color: transparent;
  stroke: var(--color-black-300);
  border-color: var(--color-black-300);
}

.label.disabled,
.label.read-only {
  cursor: auto;
}

.label.read-only {
  pointer-events: none;
}
