/* --- Base Trigger --- */
.trigger {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.25rem;
  padding: var(--trigger-padding, 6px 6px);
  font-size: var(--trigger-font-size, 15px);
  color: var(--color-text-primary);
  background-color: transparent;
  border: none;
  border-radius: none;
  transition: box-shadow 300ms linear;
}

/* --- Sizes --- */
.size-xs {
  --trigger-padding: 4.5px 6px;
  --trigger-font-size: 14px;
}
.size-sm {
  --trigger-padding: 5.5px 6px;
  --trigger-font-size: 15px;
}
.size-md {
  --trigger-padding: 6.5px 6px;
  --trigger-font-size: 15px;
}
.size-lg {
  --trigger-padding: 8px 6px;
  --trigger-font-size: 16px;
}

/* --- Disabled --- */
.trigger:disabled {
  background-color: var(--color-disabled-50);
  color: var(--color-disabled-200);
  border-color: var(--color-disabled-100);
  cursor: not-allowed;
}

.trigger:disabled + legend {
  color: var(--color-disabled-200);
  cursor: not-allowed;
}

/* --- Focus --- */
.trigger:focus {
  outline: none;
  box-shadow: none;
}

.size-md:focus + legend {
  font-size: 13px;
}
.size-lg:focus + legend {
  font-size: 14px;
}

legend {
  color: var(--color-focus-primary);
}

.trigger.active.outlined + legend,
.trigger.outlined:focus + legend {
  background-color: var(--color-surface);
}

.active.contained + legend,
.active.outlined + legend,
.active.underline + legend,
.outlined:focus + legend {
  top: 0px;
  z-index: 1;
}

.active.contained + legend {
  top: 4px;
}

.trigger.underline {
  padding-left: 0;
  padding-right: 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  list-style-type: none;
}

.listItem {
  padding: 0.25rem;
}

.listItem:hover {
  background-color: var(--color-primary-alpha-10);
}

.selected {
  background-color: var(--color-primary-alpha-10);
}
