@import './Colors.module.css';
@import './Variants.module.css';
@import './Sizes.module.css';
@import './Disabled.module.css';
@import './Border.module.css';

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  min-width: 64px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s linear;
  line-height: normal;
  /* --- */

  width: fit-content;
  text-decoration: none;
}

.label {
  display: contents;
}

.iconStart {
  display: inherit;
  margin-right: 4px;
  margin-left: -4px;
}

.iconCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iconEnd {
  display: inherit;
  margin-right: -4px;
  margin-left: 4px;
}
