/* sizes */

.size-xs {
  /* max-height: 26px; */
  padding: 5px 12px;
  font-size: 12px;
}

.size-sm {
  /* max-height: 28px; */
  padding: 6px 12px;
  font-size: 12px;
}

.size-md {
  /* max-height: 30px; */
  padding: 6px 12px;
  font-size: 14px;
}

.size-lg {
  /* max-height: 36px; */
  padding: 8px 16px;
  font-size: 16px;
}

/* full width */

a.fullWidth,
button.fullWidth {
  width: 100%;
}
