/* sizes */

.small {
  max-height: 28px;
  padding: 6px 12px;
  font-size: 12px;
}

.medium {
  max-height: 30px;
  padding: 6px 12px;
  font-size: 14px;
}

.large {
  max-height: 36px;
  padding: 8px 16px;
  font-size: 16px;
}

/* full width */

a.fullWidth,
button.fullWidth {
  width: 100%;
}
