/* --- variants --- */

.outlined.primary,
.outlined.secondary,
.outlined.success,
.outlined.negative,
.outlined.warning {
  background: initial;
  background-color: transparent;
}

.outlined.primary,
.text.primary {
  color: var(--color-primary-700);
}

.outlined.secondary,
.text.secondary {
  color: var(--color-secondary-700);
}

.outlined.success,
.text.success {
  color: var(--color-success-400);
}

.outlined.negative,
.text.negative {
  color: var(--color-negative-500);
}

.outlined.warning,
.text.warning {
  color: var(--color-warning-900);
}

/* Variant minimal */

a.minimal {
  background-color: transparent;
  border: none;
  padding: initial;
  min-width: initial;
  color: var(--icon-color-default);
  transition: 300ms linear;
}

a.minimal:hover {
  color: var(--icon-color-hover);
}

a.minimal.primary {
  background-color: transparent;
}

/* --- Hover outline variant --- */

.outlined.primary:hover,
.text.primary:hover {
  background-color: var(--color-primary-alpha-10);
}

.outlined.secondary:hover,
.text.secondary:hover {
  background-color: var(--color-secondary-alpha-10);
}

.outlined.success:hover,
.text.success:hover {
  background-color: var(--color-success-alpha-10);
}

.outlined.negative:hover,
.text.negative:hover {
  background-color: var(--color-negative-alpha-10);
}

.outlined.warning:hover,
.text.warning:hover {
  background-color: var(--color-warning-alpha-10);
}

.text.primary,
.text.secondary,
.text.success,
.text.negative,
.text.warning {
  background: initial;
  background-color: transparent;
  border-color: transparent;
}
