/* Extra styles for example to work*/

.body {
  min-height: 100vh;
}

.container {
  position: relative;
  display: flex;
  gap: 0.5rem;
  max-width: 1200px;
  min-height: inherit;
  color: var(--color-text-white);
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5rem;
  transition: 300ms linear;
}

.box {
  width: 100%;
  height: 400px;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --- */

.horizontal,
.vertical {
  position: fixed;
  background-color: var(--color-primary-200);
  z-index: 5;
}

.horizontal {
  width: 100%;
}

.vertical {
  width: min(300px, 100%);
  min-height: inherit;
}

/* --- Directions --- */

.top {
  top: 0;
  left: 0;
  height: 200px;
  transform: translateY(-100%);
  transition: 300ms ease;
}

.bottom {
  bottom: 0;
  left: 0;
  height: 200px;
  transform: translateY(100%);
  transition: 300ms ease;
}

.left {
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: 300ms ease;
}

.right {
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: 300ms ease;
}

/* --- Status Open --- */

.open.left {
  transform: translateX(0%);
}

.open.right {
  transform: translateX(0%);
}

.open.top {
  transform: translateY(0%);
}

.open.bottom {
  transform: translateY(0%);
}

/* --- Variants --- */

@media (min-width: 575px) {
  .vertical.right.pinned,
  .vertical.right.push {
    right: unset;
    bottom: unset;
    transform: unset;

    position: sticky;
    top: 0;
    align-self: flex-start;
  }

  .vertical.right.pinned {
    width: 300px;
  }

  .vertical.right.push {
    width: 2rem;
  }

  .vertical.right.push.open {
    width: 300px;
  }
}
