.drawer {
  --drawer-gap: 0px;
  --drawer-width: 250px;
  --drawer-top: 0px;
}

.inner {
  position: sticky;
  top: var(--drawer-top);
  align-self: flex-start;
  min-height: inherit;
  height: 100%;
}

/* Orientation */

.horizontal {
  width: 100%;
}

.vertical {
  width: min(var(--drawer-width), 100%);
  min-height: inherit;
  flex-shrink: 0;
}

.horizontal,
.vertical {
  position: fixed;
  background-color: var(--color-surface);
  z-index: var(--z-drawer);
}

/* --- Directions --- */

.top {
  top: 0;
  left: 0;
  height: 200px;
  transform: translateY(-100%);
  transition: 300ms ease;
}

.bottom {
  bottom: 0;
  left: 0;
  height: 200px;
  transform: translateY(100%);
  transition: 300ms ease;
}

.left {
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: 300ms ease;
}

.right {
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: 300ms ease;
}

/* Gap */

.push.top,
.pinned.top {
  margin-bottom: var(--drawer-gap);
}

.push.bottom,
.pinned.bottom {
  margin-top: var(--drawer-gap);
}

.push.right,
.pinned.right {
  margin-left: var(--drawer-gap);
}

.push.left,
.pinned.left {
  margin-right: var(--drawer-gap);
}

/* --- Status Open --- */

.open.left {
  transform: translateX(0%);
}

.open.right {
  transform: translateX(0%);
}

.open.top {
  transform: translateY(0%);
}

.open.bottom {
  transform: translateY(0%);
}

/* --- Variants --- */

@media (min-width: 575px) {
  .top.push,
  .top.pinned,
  .left.push,
  .left.pinned,
  .right.push,
  .right.pinned {
    right: unset;
    bottom: unset;
    transform: unset;
    position: sticky;
  }

  /* 
  .left.pinned,
  .left.push,
  .right.pinned,
  .right.push {
    align-self: flex-start;
  } */

  .bottom.push,
  .bottom.pinned {
    position: sticky;
    bottom: 0;
    align-self: flex-end;
    right: unset;
    top: unset;
    transform: unset;
  }

  /* --- Pinned --- */

  .top.pinned,
  .bottom.pinned {
    max-height: 100px;
  }

  .right.pinned,
  .left.pinned {
    width: var(--drawer-width);
  }

  /* --- Push --- */

  .top.push,
  .bottom.push {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
  }

  .top.push.open,
  .bottom.push.open {
    max-height: 100px;
  }

  /* gap trzeba dodać jako zmienna --drawer-gap: 8px*/
  .right.push {
    position: relative;
    margin-right: calc((var(--drawer-width) + var(--drawer-gap)) * -1);
  }

  /* .right.push {
    position: sticky;
    margin-right: calc((var(--drawer-width) + var(--drawer-gap)) * -1);
  } */

  .right.push.open {
    margin-right: 0;
  }

  /* gap trzeba dodać jako zmienna --drawer-gap: 8px*/

  .left.push {
    position: relative;
    margin-left: calc((var(--drawer-width) + var(--drawer-gap)) * -1);
  }

  /* .left.push {
    position: sticky;
    margin-left: calc((var(--drawer-width) + var(--drawer-gap)) * -1);
  } */

  .left.push.open {
    margin-left: 0;
  }
}
