/* Extra styles for example to work*/

.body {
  min-height: 100vh;
}

.container {
  position: relative;
  display: flex;
  gap: 0.5rem;
  max-width: 1200px;
  min-height: inherit;
  color: var(--color-text-white);
  margin: 0 auto;
}

/* Gdy push od top i bottom to container musi być flex direction column */
/* Jeśli potrzeba dynamicznej zmiany w appce to potrzeba zmienić klase */
/* To jest rozwiązanie dla nowych przeglądarek */
/* To jest dla push elementu z góry lub dołu */
.container:has(.horizontal, .bottom, .push):not(:has(.vertical)),
.container:has(.horizontal, .bottom, .push):not(:has(.vertical)) {
  flex-direction: column;
  gap: 0;
}

.grid {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5rem;
  transition: 300ms linear;
}

.box {
  width: 100%;
  height: 400px;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --- */

.horizontal,
.vertical {
  position: fixed;
  background-color: var(--color-primary-200);
  z-index: 5;
}

.horizontal {
  width: 100%;
}

.vertical {
  width: min(300px, 100%);
  min-height: inherit;
}

/* --- Directions --- */

.top {
  top: 0;
  left: 0;
  height: 200px;
  transform: translateY(-100%);
  transition: 300ms ease;
}

.bottom {
  bottom: 0;
  left: 0;
  height: 200px;
  transform: translateY(100%);
  transition: 300ms ease;
}

.left {
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: 300ms ease;
}

.right {
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: 300ms ease;
}

/* --- Status Open --- */

.open.left {
  transform: translateX(0%);
}

.open.right {
  transform: translateX(0%);
}

.open.top {
  transform: translateY(0%);
}

.open.bottom {
  transform: translateY(0%);
}

/* --- Variants --- */

@media (min-width: 575px) {
  .horizontal.top.push,
  .vertical.left.push,
  .vertical.left.pinned,
  .vertical.right.pinned,
  .horizontal.top.pinned,
  .vertical.right.push {
    right: unset;
    bottom: unset;
    transform: unset;

    position: sticky;
    top: 0;
    align-self: flex-start;
  }

  .horizontal.bottom.push,
  .horizontal.bottom.pinned {
    right: unset;
    top: unset;
    transform: unset;

    position: sticky;
    bottom: 0;
    align-self: flex-end;
  }

  /* --- Pinned --- */

  .horizontal.top.pinned,
  .horizontal.bottom.pinned {
    max-height: 100px;
  }

  .vertical.right.pinned,
  .vertical.left.pinned {
    width: 300px;
  }

  /* --- Push --- */

  .horizontal.top.push,
  .horizontal.bottom.push {
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
  }

  .horizontal.top.push.open,
  .horizontal.bottom.push.open {
    max-height: 100px;
  }

  .vertical.right.push {
    width: 2rem;
  }

  .vertical.right.push.open {
    width: 300px;
  }

  .vertical.left.push {
    width: 2rem;
  }

  .vertical.left.push.open {
    width: 300px;
  }
}
