.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: calc(100% - 2rem);
  min-height: calc(100vh - 2rem);
  margin: 0 auto;
  background-color: #f9f9f9;
  color: var(--color-text-white);
  overflow: hidden;
}

.drawerHorizontal {
  position: absolute;
  width: 100%;
  /* height should be or auto (wtedy zależeć będzie od contentu w drawer) or fix */
  height: 150px;
  background-color: var(--color-primary);
  z-index: 5;
}

.drawerVertcial {
  position: absolute;
  /* gdy viewport width pomiędzy 100px a 400px to weźmie środek czyli preffered calc(100 - 1rem) */
  /* 100px: The minimum width, so the element never shrinks below this. */
  /* 400px: The maximum width, so it doesn't exceed this, jeśli viewport width będzie więcej niż 400px*/
  /* width: clamp(100px, calc(100% - 1rem), 400px); */
  width: min(150px, 100%);
  height: inherit;
  min-height: inherit;
  background-color: var(--color-primary);
  z-index: 5;
}

.top {
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: 300ms ease;
}

.bottom {
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: 300ms ease;
}

.left {
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: 300ms ease;
}

.right {
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: 300ms ease;
}

.open.left {
  transform: translateX(0%);
}

.open.right {
  transform: translateX(0%);
}

.open.top {
  transform: translateY(0%);
}

.open.bottom {
  transform: translateY(0%);
}
