.body {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
}

.header {
  width: 100%;
  height: 60px;
  padding: 1rem;
  background-color: lightgreen;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: calc(100% - 60px);
  margin: 0 auto;
  color: var(--color-text-white);

  overflow: hidden;
  will-change: overflow;
}

.container.open {
  animation: unHide 300ms forwards 300ms;
}

.container.horizontal {
  flex-direction: column;
}

@keyframes unHide {
  from {
    overflow: hidden;
  }

  to {
    overflow: visible;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5rem;
  transition: 300ms linear;
}

.box {
  width: 100%;
  height: 400px;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Above clip 575px to partially fix sticky inner but below overflow and fixed drawer*/

/* @media (min-width: 575px) {
  .container {
    animation: none;
    transition: clip-path 300ms linear;
    clip-path: inset(0 0 0 0);
    overflow: initial;
  }
} */
