.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  min-width: 64px;
  border: none;
  border-radius: initial;
  cursor: pointer;
  user-select: none;
  transition: 0.3s linear;
  line-height: normal;
}

.label {
  display: contents;
}

.iconStart {
  display: inherit;
  margin-right: 4px;
  margin-left: -4px;
}

.iconCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iconEnd {
  display: inherit;
  margin-right: -4px;
  margin-left: 4px;
}

/* colors */

.primary {
  background-color: var(--color-primary-700);
  color: var(--color-text-white);
  border: 1px solid var(--color-primary-700);
}

.secondary {
  background-color: var(--color-secondary-400);
  color: var(--color-text-white);
  border: 1px solid var(--color-secondary-400);
}

.success {
  background-color: var(--color-success-400);
  color: var(--color-text-white);
  border: 1px solid var(--color-success-400);
}

.negative {
  background-color: var(--color-negative-500);
  color: var(--color-text-white);
  border: 1px solid var(--color-negative-500);
}

.warning {
  background-color: var(--color-warning-900);
  color: var(--color-text-white);
  border: 1px solid var(--color-warning-900);
}

/* Hover color button */

.primary:hover {
  background-color: var(--color-primary-800);
  border-color: var(--color-primary-800);
}

.secondary:hover {
  background-color: var(--color-secondary-500);
  border-color: var(--color-secondary-500);
}

.success:hover {
  background-color: var(--color-success-500);
  border-color: var(--color-success-500);
}

.negative:hover {
  background-color: var(--color-negative-600);
  border-color: var(--color-negative-600);
}

.warning:hover {
  background-color: var(--color-warning-1000);
  border-color: var(--color-warning-1000);
}

/* ---------------- variants ----------------- */

.outlined.primary,
.outlined.secondary,
.outlined.success,
.outlined.negative,
.outlined.warning {
  background: initial;
  background-color: transparent;
}

.outlined.primary,
.text.primary {
  color: var(--color-primary-700);
}

.outlined.secondary,
.text.secondary {
  color: var(--color-secondary-400);
}

.outlined.success,
.text.success {
  color: var(--color-success-400);
}

.outlined.negative,
.text.negative {
  color: var(--color-negative-500);
}

.outlined.warning,
.text.warning {
  color: var(--color-warning-900);
}

/* Outline text color icon */

.outlined.primary svg,
.text.primary svg {
  fill: var(--color-primary-700);
}

.outlined.secondary svg,
.text.secondary svg {
  fill: var(--color-secondary-400);
}

.outlined.success svg,
.text.success svg {
  fill: var(--color-success-400);
}

.outlined.negative svg,
.text.negative svg {
  fill: var(--color-negative-500);
}

.outlined.warning svg,
.text.warning svg {
  fill: var(--color-warning-900);
}

/* Hover outline variant */

.outlined.primary:hover,
.text.primary:hover {
  background-color: var(--color-primary-50);
}

.outlined.secondary:hover,
.text.secondary:hover {
  background-color: var(--color-secondary-50);
}

.outlined.success:hover,
.text.success:hover {
  background-color: var(--color-success-50);
}

.outlined.negative:hover,
.text.negative:hover {
  background-color: var(--color-negative-50);
}

.outlined.warning:hover,
.text.warning:hover {
  background-color: var(--color-warning-50);
}

.text.primary,
.text.secondary,
.text.success,
.text.negative,
.text.warning {
  background: initial;
  background-color: transparent;
  border-color: transparent;
}

/* sizes */

.small {
  padding: 6px 12px;
  font-size: 12px;
}

.medium {
  padding: 6px 12px;
  font-size: 14px;
}

.large {
  padding: 8px 16px;
  font-size: 16px;
}

/* full width */

.fullWidth {
  width: 100%;
}

/* disabled */

button:disabled {
  display: flex;
  background-color: var(--color-disabled);
  border-color: var(--color-disabled);
  cursor: not-allowed;
}

button.outlined:disabled {
  border-color: var(--color-disabled);
}

button.outlined:disabled,
button.outlined:disabled svg,
button.text:disabled,
button.text:disabled svg {
  color: var(--color-text-disabled);
  fill: var(--color-text-disabled);
}

/* Clear hover on disable */

button.text:disabled:hover {
  border-color: transparent;
}

button.outlined:disabled:hover,
button.text:disabled:hover {
  background-color: transparent;
}

button:disabled:hover {
  background-color: var(--color-disabled);
  border-color: var(--color-disabled);
}

/* border radius */

.radius-xs {
  border-radius: 2px;
}

.radius-sm {
  border-radius: 3px;
}

.radius-md {
  border-radius: 4px;
}

.radius-lg {
  border-radius: 5px;
}

.radius-xl {
  border-radius: 6px;
}

.radius-x2 {
  border-radius: 12px;
}

.radius-x3 {
  border-radius: 18px;
}

.radius-full {
  border-radius: 100vh;
}

/* border-width */

.border-xs {
  border-width: 1px;
}

.border-sm {
  border-width: 2px;
}

.border-md {
  border-width: 3px;
}

.border-lg {
  border-width: 4px;
}

.border-xl {
  border-width: 5px;
}

/* Responsive tweak */
/* @media (max-width: 768px) {
    .medium {
      font-size: 12px;
    }
    .large {
      font-size: 14px;
    }
  } */
