/* Colors */

.primary {
  background-color: var(--color-primary-700);
  color: var(--color-text-white);
  border: 1px solid var(--color-primary-700);
}

.secondary {
  background-color: var(--color-secondary-400);
  color: var(--color-text-white);
  border: 1px solid var(--color-secondary-400);
}

.success {
  background-color: var(--color-success-400);
  color: var(--color-text-white);
  border: 1px solid var(--color-success-400);
}

.negative {
  background-color: var(--color-negative-500);
  color: var(--color-text-white);
  border: 1px solid var(--color-negative-500);
}

.warning {
  background-color: var(--color-warning-900);
  color: var(--color-text-white);
  border: 1px solid var(--color-warning-900);
}

/* Hover color button */

.primary:hover {
  background-color: var(--color-primary-800);
  border-color: var(--color-primary-800);
}

.secondary:hover {
  background-color: var(--color-secondary-500);
  border-color: var(--color-secondary-500);
}

.success:hover {
  background-color: var(--color-success-500);
  border-color: var(--color-success-500);
}

.negative:hover {
  background-color: var(--color-negative-600);
  border-color: var(--color-negative-600);
}

.warning:hover {
  background-color: var(--color-warning-1000);
  border-color: var(--color-warning-1000);
}
