/* sizes */

.small {
  padding: 6px 12px;
  font-size: 12px;
}

.medium {
  padding: 6px 12px;
  font-size: 14px;
}

.large {
  padding: 8px 16px;
  font-size: 16px;
}

/* full width */

.fullWidth {
  width: 100%;
}
