/* .wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.wrapperTable {
  position: relative;
  width: 100%;
  overflow-x: auto;
}

.wrapperPagination {
  align-self: flex-end;
} */

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.wrapperTable {
  overflow-x: auto;
  width: 100%;
}

.wrapperContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: max-content;
}

.wrapperPagination {
  align-self: flex-end;
}

@media (min-width: 1000px) {
  .wrapperContent {
    min-width: initial;
  }
}
