/* --- Disabled --- */

.input-contained:disabled:focus,
.textarea-contained:disabled:focus {
  box-shadow: inset 0 -1px 0 0 var(--color-disabled-100);
}

.fieldset-contained.fieldset-disabled::before {
  background-color: var(--color-disabled-50);
}

.fieldset-contained.fieldset-disabled .input,
.fieldset-contained.fieldset-disabled .textarea {
  background-color: transparent;
}

/* --- Focus --- */

.input-contained:focus,
.textarea-contained:focus {
  outline: none;
  box-shadow: inset 0 -1px 0 0 var(--color-focus-primary);
}

/* --- Status --- */

.input-contained.input-valid:focus,
.textarea-contained.textarea-valid:focus {
  box-shadow: inset 0 -1px 0 0 var(--color-focus-success);
}

.input-contained.input-inValid:focus,
.textarea-contained.textarea-inValid:focus {
  box-shadow: inset 0 -1px 0 0 var(--color-focus-negative);
}

/* --- Background ---  */

.fieldset-contained::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-surface-10);
  z-index: -1;
}

.fieldset-contained {
  padding: 16px 0 0;
}

/* --- Reset for contained ---  */

.input-contained,
.textarea-contained {
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
}

/* --- Legend --- */

.legend-contained {
  top: 4px;
}

/* --- Focus legend --- */

.input-contained:not(:placeholder-shown) + .legend,
.input-contained:focus + .legend,
.textarea-contained:not(:placeholder-shown) + .legend,
.textarea-contained:focus + .legend {
  top: 4px;
  background-color: transparent;
}
