.input:disabled,
.textarea:disabled,
.input:disabled.outlined,
.textarea:disabled.outlined {
  border-color: var(--color-disabled-100);
  background-color: var(--color-disabled-50);
  color: var(--color-disabled-200);
  cursor: not-allowed;
}

.input:disabled + .legend,
.textarea:disabled + .legend,
.input:disabled:not(:placeholder-shown) + .legend,
.input:disabled:focus + .legend,
.textarea:disabled:not(:placeholder-shown) + .legend,
.textarea:disabled:focus + .legend {
  color: var(--color-disabled-200);
  cursor: not-allowed;
}

.input.valid:disabled + .legend,
.textarea.valid:disabled + .legend {
  color: var(--color-disabled-200);
}

.input.inValid:disabled + .legend,
.textarea.inValid:disabled + .legend {
  color: var(--color-disabled-200);
}
