.fieldset .input:disabled,
.fieldset .textarea:disabled,
.fieldset.outlined .input:disabled,
.fieldset.outlined .textarea:disabled {
  border-color: var(--color-disabled-100);
  background-color: var(--color-disabled-50);
  color: var(--color-disabled-200);
  cursor: not-allowed;
}

.fieldset .input:disabled + .legend,
.fieldset .textarea:disabled + .legend,
.fieldset .input:disabled:not(:placeholder-shown) + .legend,
.fieldset .input:disabled:focus + .legend,
.fieldset .textarea:disabled:not(:placeholder-shown) + .legend,
.fieldset .textarea:disabled:focus + .legend {
  color: var(--color-disabled-200);
  cursor: not-allowed;
}

.fieldset.valid .input:disabled + .legend,
.fieldset.valid .textarea:disabled + .legend,
.fieldset.inValid .input:disabled + .legend,
.fieldset.inValid .textarea:disabled + .legend {
  color: var(--color-disabled-200);
}
