.input:not(:placeholder-shown) + .legend,
.input:focus + .legend,
.textarea:not(:placeholder-shown) + .legend,
.textarea:focus + .legend {
  top: -9px;
  z-index: 1;
  background-color: white;
  color: var(--color-primary-700);
  font-size: 12px;
}

.input.size-md:not(:placeholder-shown) + .legend,
.input.size-md:focus + .legend,
.textarea.size-md:not(:placeholder-shown) + .legend,
.textarea.size-md:focus + .legend {
  font-size: 13px;
}

.input.size-lg:not(:placeholder-shown) + .legend,
.input.size-lg:focus + .legend,
.textarea.size-lg:not(:placeholder-shown) + .legend,
.textarea.size-lg:focus + .legend {
  font-size: 14px;
}

.input:focus,
.textarea:focus {
  border-color: var(--color-primary-700);
  outline: 1px solid var(--color-primary-700);
}

.input.contained:focus,
.input.underline:focus,
.textarea.contained:focus,
.textarea.underline:focus {
  outline: none;
  box-shadow: inset 0 -1px 0 0 var(--color-primary-700);
}

.input.valid:focus,
.textarea.valid:focus {
  border-color: var(--color-success-400);
  outline-color: var(--color-success-400);
}

.input.inValid:focus,
.textarea.inValid:focus {
  border-color: var(--color-negative-500);
  outline-color: var(--color-negative-500);
}

.input.valid.contained:focus,
.input.valid.underline:focus,
.textarea.valid.contained:focus,
.textarea.valid.underline:focus {
  box-shadow: inset 0 -1px 0 0 var(--color-success-400);
}

.input.inValid.contained:focus,
.input.inValid.underline:focus,
.textarea.inValid.contained:focus,
.textarea.inValid.underline:focus {
  box-shadow: inset 0 -1px 0 0 var(--color-negative-500);
}
