.fieldset .input:not(:placeholder-shown) + .legend,
.fieldset .input:focus + .legend,
.fieldset .textarea:not(:placeholder-shown) + .legend,
.fieldset .textarea:focus + .legend {
  top: -1px;
  z-index: 1;
  background-color: white;
  color: var(--color-primary-700);
  font-size: 12px;
}

.input.size-md:not(:placeholder-shown) + .legend,
.input.size-md:focus + .legend,
.textarea.size-md:not(:placeholder-shown) + .legend,
.textarea.size-md:focus + .legend {
  font-size: 13px;
}

.input.size-lg:not(:placeholder-shown) + .legend,
.input.size-lg:focus + .legend,
.textarea.size-lg:not(:placeholder-shown) + .legend,
.textarea.size-lg:focus + .legend {
  font-size: 14px;
}

/* Inout textarea on focus default */

.input:focus,
.textarea:focus {
  border-color: var(--color-primary-700);
  outline: 1px solid var(--color-primary-700);
}

.fieldset.contained .input:focus,
.fieldset.underline .input:focus,
.fieldset.contained .textarea:focus,
.fieldset.underline .textarea:focus {
  outline: none;
  box-shadow: inset 0 -1px 0 0 var(--color-primary-700);
}

/* Inout textarea basic outlined on focus status */

.fieldset.valid .input:focus,
.fieldset.valid .textarea:focus {
  border-color: var(--color-success-400);
  outline-color: var(--color-success-400);
}

.fieldset.inValid .input:focus,
.fieldset.inValid .textarea:focus {
  border-color: var(--color-negative-500);
  outline-color: var(--color-negative-500);
}

/* Inout textarea contained underline on focus status */

.fieldset.valid.contained .input:focus,
.fieldset.valid.underline .input:focus,
.fieldset.valid.contained .textarea:focus,
.fieldset.valid.underline .textarea:focus {
  box-shadow: inset 0 -1px 0 0 var(--color-success-400);
}

.fieldset.inValid.contained .input:focus,
.fieldset.inValid.underline .input:focus,
.fieldset.inValid.contained .textarea:focus,
.fieldset.inValid.underline .textarea:focus {
  box-shadow: inset 0 -1px 0 0 var(--color-negative-500);
}
