.input:not(:placeholder-shown) + legend,
.input:focus + legend,
.textarea:not(:placeholder-shown) + legend,
.textarea:focus + legend {
  top: -9px;
  z-index: 1;
  background-color: white;
  color: var(--color-primary-700);
  font-size: 12px;
}

.input.size-md:not(:placeholder-shown) + legend,
.input.size-md:focus + legend,
.textarea.size-md:not(:placeholder-shown) + legend,
.textarea.size-md:focus + legend {
  font-size: 13px;
}

.input.size-lg:not(:placeholder-shown) + legend,
.input.size-lg:focus + legend,
.textarea.size-lg:not(:placeholder-shown) + legend,
.textarea.size-lg:focus + legend {
  font-size: 14px;
}

.input:focus,
.textarea:focus {
  border-color: var(--color-primary-700);
  outline: 1px solid var(--color-primary-700);
}
