.input:not(:placeholder-shown) + .legend,
.input:focus + .legend,
.textarea:not(:placeholder-shown) + .legend,
.textarea:focus + .legend {
  top: -1px;
  z-index: 1;
  background-color: white;
  color: var(--color-primary-700);
  font-size: 12px;
}

input.input-size-md:not(:placeholder-shown) + .legend,
input.input-size-md:focus + .legend,
textarea.textarea-size-md:not(:placeholder-shown) + .legend,
textarea.textarea-size-md:focus + .legend {
  font-size: 13px;
}

input.input-size-lg:not(:placeholder-shown) + .legend,
input.input-size-lg:focus + .legend,
textarea.textarea-size-lg:not(:placeholder-shown) + .legend,
textarea.textarea-size-lg:focus + .legend {
  font-size: 14px;
}

/* Inout textarea on focus default */

input.input:focus,
textarea.textarea:focus {
  border-color: var(--color-primary-700);
  outline: 1px solid var(--color-primary-700);
}

input.input-contained:focus,
input.input-underline:focus,
textarea.textarea-contained:focus,
textarea.textarea-underline:focus {
  outline: none;
  box-shadow: inset 0 -1px 0 0 var(--color-primary-700);
}

/* Inout textarea basic outlined on focus status */

input.input-valid:focus,
textarea.textarea-valid:focus {
  border-color: var(--color-success-400);
  outline-color: var(--color-success-400);
}

input.input-inValid:focus,
textarea.textarea-inValid:focus {
  border-color: var(--color-negative-500);
  outline-color: var(--color-negative-500);
}

/* Inout textarea contained underline on focus status */
/* tu był input i textarea przed selektory */

.input-contained.input-valid:focus,
.input-underline.input-valid:focus,
.textarea-contained.textarea-valid:focus,
.textarea-underline.textarea-valid:focus {
  box-shadow: inset 0 -1px 0 0 var(--color-success-400);
}

.input-contained.input-inValid:focus,
.input-underline.input-inValid:focus,
.textarea-contained.textarea-inValid:focus,
.textarea-underline.textarea-inValid:focus {
  box-shadow: inset 0 -1px 0 0 var(--color-negative-500);
}
