.wrapper {
  position: relative;
  display: flex;
  width: inherit;
  border: 1px solid var(--color-black-500);
  transition: box-shadow 300ms linear;
}

.wrapper .input,
.wrapper .textarea {
  border: none;
}

/* --- Focus --- */

.wrapper .input:focus,
.wrapper .textarea:focus {
  outline: none;
}

.wrapper:focus-within {
  border-color: var(--color-primary-700);
  outline: 1px solid var(--color-primary-700);
}

/* --- Styled elements inside --- */

.wrapper-divider > button.endIcon::before {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 0;
  width: 1px;
  background-color: var(--color-black-500);
}

.wrapper > .endIcon,
.wrapper > .startIcon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: var(--color-black-600);
  padding: 6px 8px;
}

.wrapper > button.startIcon:focus {
  outline: none;
}

.wrapper > button:focus-visible {
  color: var(--color-primary-700);
  outline: none;
}

.wrapper-divider > button.endIcon:focus-visible:before {
  background-color: transparent;
}

.wrapper-startIcon .input {
  padding-left: 0;
}

.wrapper-inValid .input,
.wrapper-valid .input,
.wrapper-endIcon .input {
  padding-right: 0;
}

/* --- Size icons --- */

.startIcon-size-xs,
.endIcon-size-xs {
  max-height: 24px;
  font-size: 14px;
}

.startIcon-size-sm,
.endIcon-size-sm,
.startIcon-size-md,
.endIcon-size-md {
  font-size: 14px;
}

.startIcon-size-sm,
.endIcon-size-sm {
  max-height: 26px;
}

.startIcon-size-md,
.endIcon-size-md {
  max-height: 30px;
}

.startIcon-size-lg,
.endIcon-size-lg {
  max-height: 36px;
  font-size: 16px;
}

/* --- Status --- */

.wrapper-inValid {
  border-color: var(--color-negative-500);
}

.wrapper-valid {
  border-color: var(--color-success-400);
}

.wrapper-inValid .endIcon {
  color: var(--color-negative-500);
}

.wrapper-valid .endIcon {
  color: var(--color-success-400);
}

.wrapper-valid:focus-within {
  outline: 1px solid var(--color-success-400);
  border-color: var(--color-success-400);
}

.wrapper-inValid:focus-within {
  outline: 1px solid var(--color-negative-500);
  border-color: var(--color-negative-500);
}

.wrapper-valid:focus-within .input,
.wrapper-inValid:focus-within .input,
.wrapper-valid:focus-within .textarea,
.wrapper-inValid:focus-within .textarea {
  box-shadow: none;
}

/* --- Variant contained --- */

.wrapper-contained,
.wrapper-underline {
  border-right: none;
  border-left: none;
  border-top: none;
}

.wrapper-contained {
  background-color: var(--color-black-50);
  z-index: 0;
}

.wrapper-contained:focus-within,
.wrapper-underline:focus-within {
  outline: none;
  box-shadow: inset 0 -1px 0 0 var(--color-primary-700);
}

.wrapper > .fieldset-contained::before {
  content: none;
}

.wrapper-contained > .startIcon,
.wrapper-contained > .endIcon {
  align-items: center;
  margin-top: 1rem;
  z-index: -1;
}

.wrapper-area.wrapper-contained > .startIcon,
.wrapper-area.wrapper-contained > .endIcon {
  align-items: flex-start;
  margin-top: 15px;
  z-index: -1;
}

/* --- Variant outlined --- */

.wrapper-startIcon.wrapper-outlined .legend {
  left: -2px;
}

.wrapper-startIcon.wrapper-outlined .input:not(:placeholder-shown) + .legend,
.wrapper-startIcon.wrapper-outlined .input:focus + .legend,
.wrapper-startIcon.wrapper-outlined .textarea:not(:placeholder-shown) + .legend,
.wrapper-startIcon.wrapper-outlined .textarea:focus + .legend {
  left: -26px;
}

/* --- Variant underline --- */

.wrapper-startIcon.wrapper-underline .input:not(:placeholder-shown) + .legend,
.wrapper-startIcon.wrapper-underline .input:focus + .legend,
.wrapper-startIcon.wrapper-underline
  .textarea:not(:placeholder-shown)
  + .legend,
.wrapper-startIcon.wrapper-underline .textarea:focus + .legend {
  left: -32px;
}

/* --- Variant contained and underline --- */

.wrapper-valid.wrapper-underline:focus-within,
.wrapper-valid.wrapper-contained:focus-within {
  outline: none;
  border-color: var(--color-success-400);
  box-shadow: inset 0 -1px 0 0 var(--color-success-400);
}

.wrapper-inValid.wrapper-underline:focus-within,
.wrapper-inValid.wrapper-contained:focus-within {
  outline: none;
  border-color: var(--color-negative-500);
  box-shadow: inset 0 -1px 0 0 var(--color-negative-500);
}

.wrapper-area.wrapper-startIcon.wrapper-contained .legend {
  left: 0.3rem;
}

.wrapper-startIcon.wrapper-contained .legend {
  left: -1.5rem;
}

/* --- Legend --- */

.wrapper-valid .legend {
  color: var(--color-success-400);
}

.wrapper-inValid .legend {
  color: var(--color-negative-500);
}

/* --- Disabled --- */

.wrapper-disabled {
  border-color: var(--color-disabled-100);
  outline: none;
  box-shadow: none;
}

.wrapper-disabled.wrapper-contained {
  background-color: var(--color-disabled-50);
}

.wrapper-disabled:focus-within,
.wrapper-disabled.wrapper-inValid:focus-within,
.wrapper-disabled.wrapper-valid:focus-within {
  border-color: var(--color-disabled-100);
  outline: none;
  box-shadow: none;
}

.wrapper-disabled:not(.wrapper-contained):not(.wrapper-underline) > .startIcon,
.wrapper-disabled:not(.wrapper-contained):not(.wrapper-underline) > .endIcon {
  background-color: var(--color-disabled-50);
}

.wrapper-disabled .startIcon,
.wrapper-disabled .endIcon,
.wrapper-disabled .startIcon:focus-visible,
.wrapper-disabled .endIcon:focus-visible {
  color: var(--color-disabled-200);
  pointer-events: none;
}

.wrapper-readOnly .startIcon,
.wrapper-readOnly .endIcon {
  pointer-events: none;
}

.wrapper-disabled .legend {
  color: var(--color-disabled-200);
}

/* --- Textarea --- */

.wrapper-area.wrapper-endIcon .textarea {
  padding-right: 0;
}
