.input,
.textarea {
  display: flex;
  width: 100%;
  padding: 4px 6px;
  color: var(--color-text-primary);
  font-size: 14px;
  border: 1px solid var(--color-black-500);
  transition: box-shadow 300ms linear;
}

.textarea {
  resize: none;
}

/* --- Font size in inputs and height --- */

.input-size-xs,
.textarea-size-xs {
  padding: 4px 6px;
}

.input-size-sm,
.textarea-size-sm {
  padding: 4.5px 6px;
  font-size: 15px;
}

.input-size-md,
.textarea-size-md {
  padding: 5.5px 6px;
  font-size: 15px;
}

.input-size-lg,
.textarea-size-lg {
  padding: 8px 6px;
  font-size: 16px;
}

/* --- Disabled --- */

.input:disabled,
.textarea:disabled,
.input:disabled:focus,
.textarea:disabled:focus {
  border-color: var(--color-disabled-100);
  background-color: var(--color-disabled-50);
  color: var(--color-disabled-200);
  cursor: not-allowed;
}

.input:disabled + .legend,
.textarea:disabled + .legend,
.input:disabled:not(:placeholder-shown) + .legend,
.input:disabled:focus + .legend,
.textarea:disabled:not(:placeholder-shown) + .legend,
.textarea:disabled:focus + .legend {
  color: var(--color-disabled-200);
  cursor: not-allowed;
}

/* --- Legend --- */

.legend {
  position: absolute;
  top: 50%;
  left: 0.25rem;
  z-index: -1;
  font-size: 14px;
  transition: 200ms linear;
}

.legend-size-xs {
  font-size: 14px;
}

.legend-size-sm {
  font-size: 14px;
}

.legend-size-md {
  font-size: 15px;
}

.legend-size-lg {
  font-size: 16px;
}

/* --- Status legend --- */

.legend-valid {
  color: var(--color-success-400);
}

.legend-inValid {
  color: var(--color-negative-500);
}

/* --- Focus legend --- */

.input:not(:placeholder-shown) + .legend,
.input:focus + .legend,
.textarea:not(:placeholder-shown) + .legend,
.textarea:focus + .legend {
  top: -1px;
  z-index: 1;
  background-color: white;
  color: var(--color-primary-700);
  font-size: 12px;
}

.input-size-md:not(:placeholder-shown) + .legend,
.input-size-md:focus + .legend,
.textarea-size-md:not(:placeholder-shown) + .legend,
.textarea-size-md:focus + .legend {
  font-size: 13px;
}

.input-size-lg:not(:placeholder-shown) + .legend,
.input-size-lg:focus + .legend,
.textarea-size-lg:not(:placeholder-shown) + .legend,
.textarea-size-lg:focus + .legend {
  font-size: 14px;
}

/* --- Focus input --- */

input:focus,
textarea:focus {
  border-color: var(--color-primary-700);
  outline: 1px solid var(--color-primary-700);
}

/* --- Status input --- */

.input-valid,
.textarea-valid {
  border-color: var(--color-success-400);
}

.input-inValid,
.textarea-inValid {
  border-color: var(--color-negative-500);
}

.input-valid:focus,
.textarea-valid:focus {
  border-color: var(--color-success-400);
  outline-color: var(--color-success-400);
}

.input-inValid:focus,
.textarea-inValid:focus {
  border-color: var(--color-negative-500);
  outline-color: var(--color-negative-500);
}

/* --- Status legend on focus --- */

.input-valid:not(:placeholder-shown) + .legend,
.input-valid:focus + .legend,
.textarea-valid:not(:placeholder-shown) + .legend,
.textarea-valid:focus + .legend {
  color: var(--color-success-400);
}

.input-inValid:not(:placeholder-shown) + .legend,
.input-inValid:focus + .legend,
.textarea-inValid:not(:placeholder-shown) + .legend,
.textarea-inValid:focus + .legend {
  color: var(--color-negative-500);
}
