@import './Status.module.css';
@import './Disabled.module.css';
@import './Focus.module.css';
@import './Variants.module.css';
@import './InputWrapper.module.css';

.fieldset {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: initial;
  border: none;
}

.input,
.textarea {
  display: flex;
  width: 100%;
  padding: 4px 6px;
  color: var(--color-text-primary);
  font-size: 14px;
  border: 1px solid var(--color-black-500);
  transition: box-shadow 300ms linear;
}

.input.size-xs,
.textarea.size-xs {
  padding: 4px 6px;
}

.input.size-sm,
.textarea.size-sm {
  padding: 4.5px 6px;
}

.input.size-md,
.textarea.size-md {
  padding: 5.5px 6px;
}

.input.size-lg,
.textarea.size-lg {
  padding: 8px 6px;
}

/* Size font inputs */
.fieldset.size-sm .input,
.fieldset.size-sm .textarea,
.fieldset.size-md .input,
.fieldset.size-md .textarea {
  font-size: 15px;
}

.fieldset.size-lg .input,
.fieldset.size-lg .textarea {
  font-size: 16px;
}

.legend {
  position: absolute;
  top: 50%;
  left: 0.25rem;
  z-index: -1;
  font-size: 14px;
  transition: 200ms linear;
}

.fieldset.outlined .legend,
.fieldset.underline .legend {
  position: absolute;
  top: 50%;
  left: 0.25rem;
  z-index: -1;
  transform: translateY(-50%);
}

.fieldset.underline .legend {
  left: -2px;
}

.fieldset.underline .textarea + .legend {
  top: 0px;
}

.outlined .textarea + .legend {
  top: 14px;
}

.fieldset.size-xs .legend {
  font-size: 14px;
}

.fieldset.size-sm .legend {
  font-size: 14px;
}

.fieldset.size-md .legend {
  font-size: 15px;
}

.fieldset.size-lg .legend {
  font-size: 16px;
}

.textarea {
  resize: none;
}
