@import './Status.module.css';
@import './Disabled.module.css';
@import './Focus.module.css';
@import './Variants.module.css';
@import './InputWrapper.module.css';

.fieldset {
  position: relative;
  width: 100%;
  min-height: inherit;
  padding: initial;
  border: none;
}

.fieldset.size-xs {
  min-height: 26px;
}

.fieldset.size-sm {
  min-height: 28px;
}

.fieldset.size-md {
  min-height: 30px;
}

.fieldset.size-lg {
  min-height: 36px;
}

.input,
.textarea {
  display: flex;
  width: 100%;
  min-height: inherit;
  padding: 0 6px;
  color: var(--color-text-primary);
  font-size: 14px;
  border: 1px solid var(--color-black-500);
  transition: box-shadow 300ms linear;
}

/* Size font inputs */
.fieldset.size-sm > .input,
.fieldset.size-sm > .textarea,
.fieldset.size-md > .input,
.fieldset.size-md > .textarea {
  font-size: 15px;
}

.fieldset.size-lg > .input,
.fieldset.size-lg > .textarea {
  font-size: 16px;
}

.legend {
  position: absolute;
  top: 6px;
  left: 4px;
  /* padding: 0 2px; */
  z-index: -1;
  transition: 200ms linear;
  font-size: 14px;
}

.legend.size-sm {
  top: 6px;
}

.legend.size-md {
  top: 7px;
}

.legend.size-lg {
  top: 10px;
}

.textarea {
  padding: 6px;
  resize: none;
}
