@import './Status.module.css';
@import './Disabled.module.css';
@import './Focus.module.css';
@import './Variants.module.css';
@import './InputWrapper.module.css';

.fieldset {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  border: none;
}

.input,
.textarea {
  display: flex;
  width: 100%;
  padding: 4px 6px;
  color: var(--color-text-primary);
  font-size: 14px;
  border: 1px solid var(--color-black-500);
  transition: box-shadow 300ms linear;
}

.textarea {
  resize: none;
}

.input-size-xs,
.textarea-size-xs {
  padding: 4px 6px;
}

.input-size-sm,
.textarea-size-sm {
  padding: 4.5px 6px;
  font-size: 15px;
}

.input-size-md,
.textarea-size-md {
  padding: 5.5px 6px;
  font-size: 15px;
}

.input-size-lg,
.textarea-size-lg {
  padding: 8px 6px;
  font-size: 16px;
}

/* Size font inputs */

.legend {
  position: absolute;
  top: 50%;
  left: 0.25rem;
  z-index: -1;
  font-size: 14px;
  transition: 200ms linear;
}

.legend-outlined,
.legend-underline {
  position: absolute;
  top: 50%;
  left: 0.3rem;
  z-index: -1;
  transform: translateY(-50%);
}

.legend-underline {
  left: -2px;
}

.textarea + .legend-underline {
  top: 0px;
}

.textarea + .legend-outlined {
  top: 14px;
}

.legend-size-xs {
  font-size: 14px;
}

.legend-size-sm {
  font-size: 14px;
}

.legend-size-md {
  font-size: 15px;
}

.legend-size-lg {
  font-size: 16px;
}
