legend.legend-valid {
  color: var(--color-success-400);
}

legend.legend-inValid {
  color: var(--color-negative-500);
}

input.input-valid,
textarea.textarea-valid {
  border-color: var(--color-success-400);
}

input.input-inValid,
textarea.textarea-inValid {
  border-color: var(--color-negative-500);
}

input.input-valid:not(:placeholder-shown) + .legend,
input.input-valid:focus + .legend,
textarea.textarea-valid:not(:placeholder-shown) + .legend,
textarea.textarea-valid:focus + .legend {
  color: var(--color-success-400);
}

input.input-inValid:not(:placeholder-shown) + .legend,
input.input-inValid:focus + .legend,
textarea.textarea-inValid:not(:placeholder-shown) + .legend,
textarea.textarea-inValid:focus + .legend {
  color: var(--color-negative-500);
}
