.fieldset.valid .legend {
  color: var(--color-success-400);
}

.fieldset.inValid .legend {
  color: var(--color-negative-500);
}

.fieldset.valid .input,
.fieldset.valid .textarea {
  border-color: var(--color-success-400);
}

.fieldset.inValid .input,
.fieldset.inValid .textarea {
  border-color: var(--color-negative-500);
}

.fieldset.valid .input:not(:placeholder-shown) + .legend,
.fieldset.valid .input:focus + .legend,
.fieldset.valid .textarea:not(:placeholder-shown) + .legend,
.fieldset.valid .textarea:focus + .legend {
  color: var(--color-success-400);
}

.fieldset.inValid .input:not(:placeholder-shown) + .legend,
.fieldset.inValid .input:focus + .legend,
.fieldset.inValid .textarea:not(:placeholder-shown) + .legend,
.fieldset.inValid .textarea:focus + .legend {
  color: var(--color-negative-500);
}
