/* --- Variant outlined --- */

/* input.input-outlined,
textarea.textarea-outlined {
  background-color: transparent;
} */

/* Dodane */
.wrapper-startIcon.wrapper-outlined .legend {
  left: -2px;
}

/* .wrapper-startIcon.wrapper-outlined.wrapper-area .legend {
  left: 1.8rem;
} */

/* Dodane */
.wrapper-startIcon.wrapper-outlined .input:not(:placeholder-shown) + .legend,
.wrapper-startIcon.wrapper-outlined .input:focus + .legend,
.wrapper-startIcon.wrapper-outlined .textarea:not(:placeholder-shown) + .legend,
.wrapper-startIcon.wrapper-outlined .textarea:focus + .legend {
  left: -26px;
}

/* .wrapper-startIcon.wrapper-outlined .input:not(:placeholder-shown) + .legend,
.wrapper-startIcon.wrapper-outlined .input:focus + .legend,
.wrapper-startIcon.wrapper-outlined .textarea:not(:placeholder-shown) + .legend,
.wrapper-startIcon.wrapper-outlined .textarea:focus + .legend {
  left: 0.3rem;
} */

/* --- Variant contained ---*/

/* fieldset.fieldset-contained::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-black-50);
  z-index: -1;
} */

/* fieldset.fieldset-contained {
  padding: 16px 0 0;
} */

/* input.input-contained,
textarea.textarea-contained {
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
} */

/* Dodane */
.wrapper-area.wrapper-startIcon.wrapper-contained .legend {
  left: 0.3rem;
}

/* Dodane */
.wrapper-startIcon.wrapper-contained .legend {
  left: -1.5rem;
}

/* legend.legend-contained {
  top: 4px;
} */

/* input.input-contained:not(:placeholder-shown) + .legend,
input.input-contained:focus + .legend,
textarea.textarea-contained:not(:placeholder-shown) + .legend,
textarea.textarea-contained:focus + .legend {
  top: 4px;
  background-color: transparent;
} */

/* --- Variant underline --- */

/* input.input-underline,
textarea.textarea-underline {
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
} */

/* input.input-underline:not(:placeholder-shown) + .legend,
input.input-underline:focus + .legend,
textarea.textarea-underline:not(:placeholder-shown) + .legend,
textarea.textarea-underline:focus + .legend {
  top: -4px;
} */

/* Dodane */
.wrapper-startIcon.wrapper-underline .input:not(:placeholder-shown) + .legend,
.wrapper-startIcon.wrapper-underline .input:focus + .legend,
.wrapper-startIcon.wrapper-underline
  .textarea:not(:placeholder-shown)
  + .legend,
.wrapper-startIcon.wrapper-underline .textarea:focus + .legend {
  left: -32px;
}

/* Dodane */
.wrapper.wrapper-startIcon.wrapper-area > .fieldset,
.wrapper.wrapper-endIcon.wrapper-area > .fieldset {
  position: static;
}
