/* Variant outlined */

.fieldset.outlined .input,
.fieldset.outlined .textarea {
  background-color: transparent;
}

.inputWrapper.startIcon.outlined .legend {
  left: -2px;
}

.inputWrapper.startIcon.outlined .input:not(:placeholder-shown) + .legend,
.inputWrapper.startIcon.outlined .input:focus + .legend,
.inputWrapper.startIcon.outlined .textarea:not(:placeholder-shown) + .legend,
.inputWrapper.startIcon.outlined .textarea:focus + .legend {
  left: -26px;
}

/* Variant contained */

.fieldset.contained::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-black-50);
  z-index: -1;
}

.fieldset.contained {
  padding: 16px 0 0;
}

.fieldset.contained .input,
.fieldset.contained .textarea {
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
}

.inputWrapper.startIcon.contained .legend {
  left: -24px;
}

.fieldset.contained .legend {
  top: 4px;
}

.fieldset.contained .input:not(:placeholder-shown) + .legend,
.fieldset.contained .input:focus + .legend,
.fieldset.contained .textarea:not(:placeholder-shown) + .legend,
.fieldset.contained .textarea:focus + .legend {
  top: 4px;
  background-color: transparent;
}

/* Variant underline */

.fieldset.underline .input,
.fieldset.underline .textarea {
  padding-left: initial;
  padding-right: initial;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
}

.fieldset.underline .input:not(:placeholder-shown) + .legend,
.fieldset.underline .input:focus + .legend,
.fieldset.underline .textarea:not(:placeholder-shown) + .legend,
.fieldset.underline .textarea:focus + .legend {
  top: -4px;
}

.inputWrapper.startIcon.underline .input:not(:placeholder-shown) + .legend,
.inputWrapper.startIcon.underline .input:focus + .legend,
.inputWrapper.startIcon.underline .textarea:not(:placeholder-shown) + .legend,
.inputWrapper.startIcon.underline .textarea:focus + .legend {
  left: -33px;
}
