.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  border: 1px solid var(--color-primary-700);
}

.table th {
  border-right: 1px solid var(--color-surface-30);
  font-weight: 400;
}

.table th:last-child {
  border-right: 1px solid var(--color-primary-700);
}

.table td {
  border: 1px solid var(--color-surface-30);
}

.table td,
.table th {
  padding: 0.5rem;
  text-align: left;
  font-size: 14px;
}

.table tr:nth-child(even) {
  /* background-color: #f9f9f9; */
  background-color: var(--color-surface-0);
}

.table tr:hover {
  background-color: var(--color-surface-20);
}

.table th {
  text-align: left;
  background-color: var(--color-primary-700);
  color: white;
}

.tbody tr {
  background-color: var(--color-surface-10);
}

tbody:before {
  line-height: 0.5rem;
  content: '\200C';
  display: block;
  color: transparent;
}
