.table {
  width: 100%;
  border-collapse: collapse;
  /* border-collapse: separate; */
  /* border-spacing: 2px; */
}

.table thead {
  border: 1px solid var(--color-primary-700);
}

.table th {
  /* font-size: 14px; */
  font-weight: 400;
}

.table th {
  border-right: 1px solid #ddd;
}

.table th:last-child {
  border-right: 1px solid var(--color-primary-700);
}

.table td {
  border: 1px solid #ddd;
}

.table td,
.table th {
  padding: 0.5rem;
  text-align: left;
  font-size: 14px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  text-align: left;
  background-color: var(--color-primary-700);
  color: white;
}

.input {
  padding: 0.25rem;
}
tbody:before {
  line-height: 0.5rem;
  content: '\200C';
  display: block;
}
