.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  border: 1px solid var(--color-primary-700);
}

.table th {
  font-weight: 400;
}

.table th {
  border-right: 1px solid #ddd;
}

.table th:last-child {
  border-right: 1px solid var(--color-primary-700);
}

.table td {
  border: 1px solid #ddd;
}

.table td,
.table th {
  padding: 0.5rem;
  text-align: left;
  font-size: 14px;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.table th {
  text-align: left;
  background-color: var(--color-primary-700);
  color: white;
}

tbody:before {
  line-height: 0.5rem;
  content: '\200C';
  display: block;
  color: transparent;
}

.input {
  padding: 0.25rem;
}
