.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.wrapperTable {
  overflow-x: auto;
}

.wrapperContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: max-content;
}

.wrapperPagination {
  align-self: flex-end;
}
