.input {
  opacity: 0;
  position: absolute;
}

.radioCustom {
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--color-black-700);
  background-color: white;
  border-radius: 50%;
  transition: border 200ms ease;
}

.label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: var(--color-text-primary);
  cursor: pointer;
  position: relative;
}

.input:checked + .radioCustom {
  border-color: var(--color-primary-700);
  border-width: 4px;
}

.input:focus-visible + .radioCustom {
  outline: 2px solid var(--color-primary-700);
  outline-offset: 2px;
}

/* Sizes */

.label.size-xs {
  font-size: 14px;
}

.radioCustom.size-xs {
  width: 14px;
  height: 14px;
}

.label.size-sm {
  font-size: 15px;
}

.radioCustom.size-sm {
  width: 1rem;
  height: 1rem;
}

.label.size-md {
  font-size: 1rem;
}

.radioCustom.size-md {
  width: 18px;
  height: 18px;
}

.label.size-lg {
  font-size: 1rem;
}

.radioCustom.size-lg {
  width: 20px;
  height: 20px;
}

/* Disabled */

.input:disabled {
  cursor: not-allowed;
}

.input:disabled + .radioCustom {
  border-color: var(--color-black-300);
  cursor: not-allowed;
}

.label.disabled,
.label.read-only {
  cursor: auto;
}

.label.read-only {
  pointer-events: none;
}

/* Color */

.input:checked + .radioCustom.primary {
  border-color: var(--color-primary-700);
}

.input:checked + .radioCustom.secondary {
  border-color: var(--color-secondary-400);
}

.input:checked + .radioCustom.success {
  border-color: var(--color-success-400);
}

.input:checked + .radioCustom.negative {
  border-color: var(--color-negative-500);
}

.input:checked + .radioCustom.warning {
  border-color: var(--color-warning-900);
}

/* Variant */

.input + .radioCustom.outlined {
  border: none;
}

.input + .radioCustom.outlined::before {
  content: '';
  background: transparent;
  border-radius: 100vw;
  border: 1px solid var(--color-black-700);
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
}

.input:checked + .radioCustom.outlined::before {
  box-shadow: inset 0 0 0 4px white;
  background-color: var(--color-primary-700);
  transition: background-color 300ms ease;
}

.input:focus-visible + .radioCustom.outlined {
  outline: none;
}

.input:focus-visible + .radioCustom.outlined::before {
  outline: 2px solid var(--color-primary-700);
  outline-offset: 2px;
  border-color: var(--color-primary-700);
}

.input:disabled + .radioCustom.outlined {
  cursor: not-allowed;
}

.input:disabled + .radioCustom.outlined::before {
  box-shadow: inset 0 0 0 4px white;
  border-color: var(--color-black-300);
  background: var(--color-black-300);
  cursor: not-allowed;
}

/* Sizes */

.input + .radioCustom.outlined.size-xs::before {
  width: 12px;
  height: 12px;
}

.input:checked + .radioCustom.outlined.size-xs::before {
  box-shadow: inset 0 0 0 3px white;
}

.input + .radioCustom.outlined.size-sm::before {
  width: 14px;
  height: 14px;
}

.input + .radioCustom.outlined.size-md::before {
  width: 16px;
  height: 16px;
}

.input + .radioCustom.outlined.size-lg::before {
  width: 18px;
  height: 18px;
}

/* Color outlined */

.input:checked + .radioCustom.outlined.primary::before {
  background-color: var(--color-primary-700);
}

.input:checked + .radioCustom.outlined.secondary::before {
  background-color: var(--color-secondary-400);
}

.input:checked + .radioCustom.outlined.success::before {
  background-color: var(--color-success-400);
}

.input:checked + .radioCustom.outlined.negative::before {
  background-color: var(--color-negative-500);
}

.input:checked + .radioCustom.outlined.warning::before {
  background-color: var(--color-warning-900);
}

/* Radio group */

.radioGroup {
  display: flex;
  width: fit-content;
}

.row {
  flex-direction: row;
  align-items: center;
}

.column {
  flex-direction: column;
}

.fullWidth {
  width: 100%;
}

.none {
  gap: initial;
}

.tight {
  gap: 0.25rem;
}

.normal {
  gap: 0.5rem;
}

.loose {
  gap: 0.75rem;
}

.extra-loose {
  gap: 1rem;
}
