.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
  color: var(--color-text-white);
}

.content {
  transition: max-height 0.3s ease;
  background-color: var(--color-surface-0);
  width: 100%;
  overflow: hidden;
  color: var(--color-text-primary);
  font-size: 14px;
}

.content:not(.text) {
  border-right: 1px solid var(--color-surface-30);
  border-left: 1px solid var(--color-surface-30);
}

.content:not(.text).open {
  border-bottom: 1px solid var(--color-surface-30);
}

.icon {
  display: block;
  justify-self: flex-end;
  margin-right: 0.5rem;
}

.icon svg {
  color: var(--color-text-white);
}

.info {
  flex: 1;
  min-width: 0;
}

.title {
  text-align: left;
  word-break: break-word;
}

.subTitle {
  font-size: 12px;
  text-align: left;
}

/* Colors */

.primary {
  --color: var(--color-primary-400);
}

.secondary {
  --color: var(--color-secondary-400);
}

.success {
  --color: var(--color-success-400);
}

.negative {
  --color: var(--color-negative-500);
}

.warning {
  --color: var(--color-warning-900);
}

/* Variants */

.header.text.primary,
.header.text.secondary,
.header.text.success,
.header.text.negative,
.header.text.warning {
  border-bottom: 1px solid var(--color);
  background-color: transparent;
  color: var(--color);
}

.header.outlined.primary,
.header.outlined.secondary,
.header.outlined.success,
.header.outlined.negative,
.header.outlined.warning {
  border: 1px solid var(--color);
  background-color: transparent;
  color: var(--color);
}

.header.outlined.primary > label:first-child,
.header.outlined.secondary > label:first-child,
.header.outlined.success > label:first-child,
.header.outlined.negative > label:first-child,
.header.outlined.warning > label:first-child {
  color: var(--color);
}

.header.contained.primary,
.header.contained.secondary,
.header.contained.success,
.header.contained.negative,
.header.contained.warning {
  background-color: var(--color);
  color: var(--color-text-white);
  /* border: 1px solid var(--color); */
}

.header.contained.primary > label:first-child,
.header.contained.secondary > label:first-child,
.header.contained.success > label:first-child,
.header.contained.negative > label:first-child,
.header.contained.warning > label:first-child {
  color: var(--color-text-white);
}

/* Size content */

.content.size-xs {
  font-size: 12px;
}

.content.size-sm {
  font-size: 14px;
}

.content.size-md {
  font-size: 1rem;
}

.content.size-lg {
  font-size: 1rem;
}
