.message {
  width: fit-content;
  font-size: 14px;
}

.error {
  color: var(--color-negative-500);
}

.info {
  color: var(--color-primary-700);
}

.secondary {
  color: var(--color-secondary-400);
}

.success {
  color: var(--color-success-400);
}

.warning {
  color: var(--color-warning-900);
}
