.h1 {
  font-size: 48px;
  font-weight: 700;
}

.h2 {
  font-size: 36px;
  font-weight: 600;
}

.h3 {
  font-size: 28px;
  font-weight: 600;
}

.h4 {
  font-size: 20px;
  font-weight: 500;
}

.h5 {
  font-size: 16px;
  font-weight: 500;
}

.h6 {
  font-size: 14px;
  font-weight: 500;
}
