.popover {
  position: absolute;
  padding: 0.25rem;
  border: 1px solid var(--color-surface-30);
  z-index: var(--z-popover);
  background-color: var(--color-surface-elevated-1);
  will-change: opacity;
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 300ms;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity 300ms;
}
