.popOver {
  position: absolute;
  padding: 0.5rem;
  border: 1px solid #ddd;
  z-index: 10000;
  background-color: white;
  overflow: hidden;
  will-change: opacity;
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 300ms;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity 300ms;
}
