.card {
  display: flex;
  flex-direction: column;
  width: 18rem;
  overflow: hidden;
}

.header {
  flex: 1 1 auto;
  transition: 0.3s linear;
  background-image: url('/images/Desert.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-surface-10);
  aspect-ratio: 4/3;
  color: var(--color-text-primary);
}

.header:hover {
  filter: brightness(0.8);
}

.content {
  border-right: 1px solid var(--color-secondary-300);
  border-left: 1px solid var(--color-secondary-300);
  color: var(--color-text-primary);
  font-size: 14px;
}

.footer {
  border-right: 1px solid var(--color-secondary-300);
  border-bottom: 1px solid var(--color-secondary-300);
  border-left: 1px solid var(--color-secondary-300);
}
